<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/admin_style.css">
</head>
<body>
    <!-- message  -->
    <% if (msg != '') { %>
        <div class="message">
            <span> <%= msg %> </span>
            <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
        </div>
    <% } %>    

    <!-- admin dashboard section starts  -->
    <%- include('./partials/adminNav'); %>

    <section class="recipes">
    
    <h1 class="heading">Recipes</h1>
          
    <form action="/admin/recipes/search" method="post">
        <input type="text" name="searchInp" id="searchInp">
        <button type="submit">Search</button>
    </form>
    
    <a href="/admin/recipes/create" class="createbtn">Create Recipe</a>

    <div class=box-container>
    <table border="3">
        <thead>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Process</th>
            <th>Category</th>
            <th>Time</th>
            <th>Serving</th>
            <th>Source</th>
            <th>Video</th>
            <th>Calories</th>
            <th>Meal Time</th>
            <th>Rate</th>
            <th>Ingredients</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <% let i = 0; %> 
            <% let ingArr = []; %> 
            <% recs.forEach(rec => { %>
            <tr> 
                <td>
                    <% if (rec.rec_image) { %>
                        <img src="/images/<%= rec.rec_image%>" alt="<%= rec.rec_name %> Image" height="100">
                    <% } %>
                </td>
                <td><%= rec.rec_name %> </td>
                <td><%= rec.rec_desc %></td>
                <td><%= rec.rec_process %></td>
                <td><%= rec.rec_categ %></td>
                <td>
                    <% if (rec.rec_time) { %>
                        <%= rec.rec_time %>
                    <% } %>
                </td>
                <td>
                    <% if (rec.rec_serving) { %>
                        <%= rec.rec_serving %>
                    <% } %>
                </td>
                <td><a href="<%= rec.rec_src %>">Source Link</a></td>
                <td>
                    <% if (rec.rec_vid) { %>
                        <a href="<%= rec.rec_vid %>">YouTube Link</a>
                    <% } %> 
                </td>
                <td>
                    <% if (rec.rec_cal) { %>
                        <%= rec.rec_cal %>
                    <% } %>
                </td>
                <td><%= rec.rec_mealTime %></td>
                <td>
                    <% if (rec.rec_rate) { %>
                        <%= rec.rec_rate %>
                    <% } %>
                </td>
                <!-- ing -->
                <% if (i < recIngs.length) { %>
                    <% ingArr = recIngs[i].split(",") %> 
                    <td>
                    <% for( let index = 0; index < ingArr.length; index++ ) { %>
                        <%= ingArr[index]%><br> 
                    <% } %> 
                    </td>
                <% i++; } %> 
                <!-- actions -->
                <td>
                    <button><a href="/admin/recipes/edit/<%= rec.rec_id %>">Edit</a></button>
                    <button><a href="/admin/recipes/delete/<%= rec.rec_id %>">Delete</a></button>
                </td>
            </tr>
            <%}) %>
        </tbody>
    </table>
    </div>
</section>
</body>
</html>