<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %> </title>
</head>
<body>
    <%- include('./partials/adminNav'); %>
    <br><br>
    <% let i = 0; %> 
    <% let ingArr = []; %> 
    <% recs.forEach(rec => { %>
        <% if (rec.rec_image) { %>
            <img src="/images/<%= rec.rec_image%>" alt="<%= rec.rec_name %> Image" height="100">
        <% } %><br><br>
        <h3><%= rec.rec_name %></h3>
        <h5><%= rec.rec_desc %></h5>
        <p><strong>Category: </strong><%= rec.rec_categ %></p>
        <% if (rec.rec_time) { %>
            <p><strong>Total Time: </strong><%= rec.rec_time %></p>
        <% } %>
        <% if (rec.rec_serving) { %>
            <p><strong>Serving: </strong><%= rec.rec_srv %></p>
        <% } %>
        <% if (rec.rec_cal) { %>
            <p><strong>Calories: </strong><%= rec.rec_cal %></p>
        <% } %>
        <% if (rec.rec_Rate) { %>
            <p><strong>Rating: </strong><%= rec.rec_rate %></p>
        <% } %>
        <p><strong>Ingredients: <br></strong></p>
        <ul>
            <% if (i < recIngs.length) { %>
                <% ingArr = recIngs[i].split(",") %> 
                <% for( let index = 0; index < ingArr.length; index++ ) { %>
                    <li><%= ingArr[index]%></li>
                <% } %> 
            <% i++; } %>
        </ul>
        <p><strong>Process:</strong><br><%= rec.rec_process %></p>
        <a href="<%= rec.rec_src %>"><strong>Source</strong></a>
        <% if (rec.rec_vid) { %>
            <p><strong>Video:</strong><br></p>
        <iframe width="200" height="200" src="<%= rec.rec_vid %>"></iframe>
        <% } %> 
    <% }) %>

</body>
</html>