<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <%- include('./partials/adminNav'); %>
    <h1>Users List</h1>
<table border="3">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </thead>
    <tbody>
        <% users.forEach(user => { %>
        <tr>
            <td><%= user.user_id %> </td>
            <td><%= user.user_name %> </td>
            <td><%= user.user_email %> </td>
        </tr>
        <% }) %>
    </tbody>
</table>
</body>

</html>