<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %> </title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/admin_style.css">
</head>
<body>
    <!-- admin dashboard section starts  -->
    <%- include('./partials/adminNav'); %>

    <a href="/admin/recipes" class="back-btn">>> Back</a>

    <div class = adminRecipeView>
    <% let i = 0; %> 
    <% let ingArr = []; %> 
    <% recs.forEach(rec => { %>
        <% if (rec.rec_image) { %>
            <img src="/images/<%= rec.rec_image%>" alt="<%= rec.rec_name %> Image" id="image" height="500rem" width="455rem">
        <% } %>
        <h3><%= rec.rec_name %></h3>
        <h5><%= rec.rec_desc %></h5>
        <div class="recViewCateg">
            <p><strong>Category: </strong><%= rec.rec_categ %></p>
        </div>
        <% if (rec.rec_time) { %>
            <div class="recViewTime">
                <p><strong>Total Time: </strong><%= rec.rec_time %></p>
            </div>
        <% } %>
        <% if (rec.rec_serving) { %>
            <div class="recViewServing">
                <p><strong>Serving: </strong><%= rec.rec_srv %></p>
            </div>
        <% } %>
        <% if (rec.rec_cal) { %>
            <div class="recViewCalories">
                <p><strong>Calories: </strong><%= rec.rec_cal %></p>
            </div>
        <% } %>
        <% if (rec.rec_Rate) { %>
            <div class="recViewRating">
                <p><strong>Rating: </strong><%= rec.rec_rate %></p>
            </div>
        <% } %>
        <div class="recIngredientTitle">
            <p><strong>Ingredients: </strong></p>
        </div>
            <ul>
                <% if (i < recIngs.length) { %>
                    <% ingArr = recIngs[i].split(",") %> 
                    <% for( let index = 0; index < ingArr.length; index++ ) { %>
                        <li><%= ingArr[index]%></li>
                    <% } %> 
                <% i++; } %>
            </ul>
        <div class="recProcessTitle">
            <p><strong>Process:</strong></p>
        </div>
            <textarea name="" id="" cols="30" rows="10" readonly class="recProcessBox"><%= rec.rec_process %></textarea><br>
        <a href="<%= rec.rec_src %>" class="recSourceTitle"><strong>Source</strong></a>
        <% if (rec.rec_vid) { %>
            <div class="recVideoTitle">
                <p><strong>Video</strong><br></p>
            </div>
        <iframe width="400" height="400" src="<%= rec.rec_vid %>" class="recVideo"></iframe>
        <% } %> 
    <% }) %>
    </div>
</body>
</html>