<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
 
    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <!-- message  -->
   <% if (msg != '') { %>
       <div class="message">
           <span> <%= msg %> </span>
           <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
       </div>
   <% } %>   

   <!-- guest header -->
   <%#- include('./partials/userNav'); %>
   <%- include('./partials/guestNav'); %>

   <!-- user hero starts (flippable content) -->
   <section class="hero">

      <div class="swiper hero-slider">
     
         <div class="swiper-wrapper">
     
            <div class="swiper-slide slide">
               <div class="content">
                  <span>Use up your ingredients at home with search by ingredients feature.</span>
                  <h3>Search Recipes</h3>
                  <a href="#recipe_page" class="btn">Get Started</a>
               </div>
                  <div class="image">
                     <img src="images/hero/home-img-1.png" alt="">
                  </div>
               </div>
     
               <div class="swiper-slide slide">
                  <div class="content">
                     <span>Save your favorite recipes with save recipes feature.</span>
                     <h3>Saved Recipes</h3>
                     <a href="/" class="btn">Get Started</a>
                  </div>
                  <div class="image">
                     <img src="images/hero/home-img-2.png" alt="">
                  </div>
               </div>
     
               <div class="swiper-slide slide">
                  <div class="content">
                     <span>Plan weekly meals at ease with meal planner feature.</span>
                     <h3>Meal Plan</h3>
                     <a href="/" class="btn">Get Started</a>
                  </div>
                  <div class="image">
                     <img src="images/hero/home-img-3.png" alt="">
                  </div>
               </div>
     
               <div class="swiper-slide slide">
                  <div class="content">
                     <span>Never forget an ingredient while shopping with grocery list feature.</span>
                     <h3>Grocery List</h3>
                     <a href="/" class="btn">Get Started</a>
                  </div>
                  <div class="image">
                     <img src="images/hero/home-img-4.png" alt="">
                  </div>
               </div>
     
            </div>
     
            <div class="swiper-pagination"></div>
     
         </div>
     
   </section>

   <!-- search by recipe name form section starts  -->
   <section class="search-form">
      <form method="post" action="/search">
         <input type="text" name="searchInp" id="searchInp" placeholder="Search Recipes" class="box">
            <button type="submit" name="search_btn" class="fas fa-search"> </button>
      </form>
   </section>
   <!-- search by recipe name form section ends -->

   <section class="recipes">

      <h1 class="title" id=recipe_page>latest recipes</h1>
      
      <div class="box-container">
         <% if (recs.length > 0) { %>
             <% recs.forEach(rec => { %>
                 <form action="" method="post" class="box">
                     <a href="/recipes/<%= rec.rec_id%>" class="fas fa-eye"></a>
                     <img src="/images/<%= rec.rec_image%>" alt="<%= rec.rec_name %> Image" height="150">
                     <div class="cat"><%= rec.rec_categ %></div>
                     <div class="name"><%= rec.rec_name %></div>
                 </form>
             <% }) %>
         <% } else { %>
             <p class="empty">No recipes found.</p>
             <% } %>
     </div>
      
   
      <!-- <div class="more-btn">
         <a href="menu.html" class="backbtn">veiw all</a>
      </div> -->
   
   </section>


<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="/public/js/script.js"></script>

<script>

var swiper = new Swiper(".hero-slider", {
   loop:true,
   grabCursor: true,
   effect: "flip",
   pagination: {
      el: ".swiper-pagination",
      clickable:true,
   },
});

</script>

</body>
</html>