<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
 
    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- custom js file link  -->
    <script src="/public/js/script.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
   <!-- guest header -->
   <%- include('./partials/userNav'); %>
   <%#- include('./partials/guestNav'); %>

   <!--start-->
    <h1>Meal Plan Calendar</h1>
    <br>
    <title><%= title %></title>
    <p><%= title %></p>
    <div>
        <button type="button"> <a href="/saved">Add Recipes From Save</a></button>&nbsp;
        <button type="button" id ="searchBut">Search Recipes</button>&nbsp;
            <div id="search" class="modal">
                <div class="modal-content">
                    <span class="closeBut">&times;</span>
                    <div id="cont">
                        <form method="post" action="/search">
                            <input type="text" name="searchInp" id="searchInp" placeholder="Search Recipes" class="box">
                            <button type="submit" name="search_btn" class="fas fa-search"> </button>
                        </form>
                    </div>
                </div>
            </div>
        <button type="button"><a href = "/recommend">Get Recommendation</a></button>
        <br><br><br>
    </div>
    <section>
        <!--id="weekViewInp" name="weekViewInp"-->
        <form action="/mealPlan/past" method="post">
            <input type="submit" id="mealPlanPastBut" value="<"></button>&nbsp;
        </form>
        <form action="/mealPlan/current" method="post" >
            <input type="submit" id="mealPlanCurrentBut" value="Today"></button>&nbsp;
        </form>
        <form action="/mealPlan/next" method="post">
            <input type="submit" id="mealPlanNextBut"  value=">"></button>
        </form>
        <br><br>
        
        <% if (mealPlan.length > 0) { %>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <!--<thead>
                        <tr class="bg-light-gray">
                            <th class="text-uppercase" name="weekDay" value = "Monday">Monday</th>
                            <th class="text-uppercase" name="weekDay" value = "Tuesday">Tuesday</th>
                            <th class="text-uppercase" name="weekDay" value = "Wednesday">Wednesday</th>
                            <th class="text-uppercase" name="weekDay" value = "Thursday">Thursday</th>
                            <th class="text-uppercase" name="weekDay" value = "Friday">Friday</th>
                            <th class="text-uppercase" name="weekDay" value = "Saturday">Saturday</th>
                            <th class="text-uppercase" name="weekDay" value = "Sunday">Sunday</th>
                        </tr>
                    </thead>-->
                    <tbody>
                        <% mealPlan.forEach( mealPlan => { %>
                        <tr class="align-middle">
                            <!--<td>style="width: 80rem; align-items: center;">-->
                                <div class="card-text-center" style="width: 30rem; align-items: center;">
                                    <div class="card-header">
                                        <%= mealPlan.sDay%><br> <%= mealPlan.dateTime%>
                                      </div>
                                    <img class="card-img-top" src="/images/<%= mealPlan.rec_image%>" alt="<%= mealPlan.rec_name %> Image" height="150" style="width: 20rem;">>
                                    <div class="card-body">
                                      <h5 class="card-title"><a href="/mealPlan/<%= mealPlan.rec_id%>"><%= mealPlan.rec_name %></a></h5>
                                      <a href="/mealPlan/<%= mealPlan.rec_id%>" class="btn btn-primary">View Recipe</a>
                                    </div>
                                </div>   
                            <!--</td>-->  
                        </tr>  
                        <% }) %>
                    </tbody>
                </table>
            </div>
        <% } else { %>
            <p class="empty">No recipes found.</p>
        <% } %>
    </section>
    <!-- custom js file link  -->
    <script src="/public/js/script.js"></script> 
    <script>
        let searchModal = document.getElementById("search");
        let button = document.getElementById("searchBut");
        let cls = document.getElementsByClassName("closeBut")[0];

        //open the modal
        button.onclick = function() {
            searchModal.style.display = "block";
        }

        //close the modal
        cls.onclick = function() {

            modal.style.display = "none";
        }

        //close it
        window.onclick = function(event) {
        if (event.target == searchModal) {
            searchModal.style.display = "none";
        }
        }

    </script>
</body>
</html>