<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
 
    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- custom js file link  -->
    <script src="/public/js/script.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title><%= title %></title>
</head>
<body>
   <!-- guest header -->
   <%- include('./partials/userNav'); %>
   <%#- include('./partials/guestNav'); %>

    <form action="/mealPlan" method="get">
        <div id="mealPlanView">
            <div class="wrapper">
                <div class="toggle_radio">
                  <input type="radio" class="toggle_option" id="first_toggle" name="toggle_option" value ="Past Week">
                  <input type="radio" checked class="toggle_option" id="second_toggle" name="toggle_option" value ="Current Week">
                  <input type="radio" class="toggle_option" id="third_toggle" name="toggle_option" value ="Next Week">
                  <label for="first_toggle"><p>Past Week</p></label>
                  <label for="second_toggle"><p>Current Week</p></label>
                  <label for="third_toggle"><p>Next Week</p></label>
                  <div class="toggle_option_slider">
                  </div>
                </div>
        </div>
        <table>
            <tbody>
                <% mealPlan.forEach( mealPlan => { %>
                    <tr>
                        <td><img src="/images/<%= mealPlan.rec_img%>" alt="<%= mealPlan.rec_name %> Image" height="150"></td>
                        <td><a href="/mealPlan/<%= mealPlan.rec_id%>"><%= mealPlan.rec_name %></a></td>
                        <td>
                            <a href="/mealPlan/<%= mealPlan.rec_id%>" class="recview-btn">View Recipe</a>
                            <a href="/mealPlan/delete/<%= mealPlan.rec_id %>" class="recdelete-btn">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
     </form>   
     
     <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/public/js/script.js"></script>
     <script>
        
        let sortMp = toggle_option;
        console.log(sortMp);
     </script>
</body>
</html>