<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo/logo-recipinoy.png" type="image/icon type">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
 
    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/style.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>Meal Plan</title>
</head>
<body>
        <!-- loader -->
        <!-- <div class="loader">
            <img src="/images/loader.gif" alt="">
        </div> -->


   <!-- guest header -->
   <%- include('./partials/userNav'); %>
   <%#- include('./partials/guestNav'); %>

        <div class="userMealPlan">
            <a href="/" class="back-btn"><span class="rec-back">Home</span></a>

            <div class="sec-mp">
                <!-- header part -->
                <div class="mp-header">
                    <span class="mp-title">Meal Plan</span>
                    <!-- <p><%= title %></p> -->

                    <!-- plus button -->
                    <div class="plus-cont">
                        <div id="plus-btn" class="plus-btn"></div>
                    </div>

                    <!-- button option section -->
                    <!-- yung whole part-->
                    <div class="addfrom">

                        <!-- yung bawat option -->
                        <div class="btn-flex">
                            <div class="userAdd">
                                <!-- add recipes from saved recipe page -->
                                <button type="button" class="userBtn"> <a href="/saved" class="a-btn">Add Recipes From Save</a></button>&nbsp;
                            </div>

                             <!-- border line -->
                            <span class="mp-line"></span>

                            <!-- search resipes -->
                            <div class="userSearch">
                                <button type="button" id ="searchBut" class="userBtn">Search Recipes</button>&nbsp;
                                <div id="search" class="modal">
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <div id="cont">
                                            <section class="search-form">
                                                <form method="post" action="/search">
                                                    <input type="text" name="searchInp" id="searchInp" placeholder="Search Recipes" class="box">
                                                    <button type="submit" name="search_btn" class="fas fa-search"> </button>
                                                </form>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <!-- border line -->
                            <span class="mp-line"></span>

                            <div class="userReco">
                                <!-- get recipes from get reco page -->
                                <button type="button" class="userBtn"><a href = "/recommend" class="a-btn">Get Recommendation</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- border line -->
            <span class="meal-line"></span>


            <!-- week header -->
            <!--id="weekViewInp" name="weekViewInp"-->
            <div class="weekly-title">
                <div class="past-week">
                    <form action="/mealPlan/past" method="post">
                        <button type="submit" id="mealPlanPastBut" class="weeklybtn" value="<">
                            <!-- icon -->
                            <span class="past-btn"></span>
                            <span class="mp-back">Past Week</span>
                        </button>
                    </form>
                </div>

                <div class="this-week">
                    <form action="/mealPlan/current" method="post" >
                        <button type="submit" id="mealPlanCurrentBut" class="weeklybtn" value="This Week">
                            <span class="this-back">This Week</span>
                        </button>
                    </form>
                </div>

                <div class="next-week">
                    <form action="/mealPlan/next" method="post">
                        <button type="submit" id="mealPlanNextBut"class="weeklybtn" value=">">
                            <span class="mp-back">Next Week</span>
                            <!-- icon -->
                            <span class="next-btn"></span>
                        </button>
                    </form>
                </div>
            </div>

            <!-- border line -->
            <span class="meal-line"></span>


            <!-- recipe card -->
            <div class="usr-container">
                <% if (mealPlan.length > 0) { %>
                <% mealPlan.forEach(mealPlan => { %>
                    <div class="result-card">
                        <div class="box-card">
                        <!-- img -->
                        <div class="box-header">
                            <a href="/mealPlan/delete/<%= mealPlan.rec_id%>">x</a>
                            <a href="/recipes/<%= mealPlan.rec_id%>">
                            <img src="/images/<%= mealPlan.rec_image%>" alt="<%= mealPlan.rec_name %> Image" class="box-img">
                            </a>
                        </div>

                        <!-- details -->
                        <div class="box-details">
                            <a href="/recipes/<%= mealPlan.rec_id%>" class="rec-usr">
                                <div class="box-one">
                                    <div class="name-cont">
                                        <!-- category -->
                                        <span class="box-categ"><%= mealPlan.rec_categ %></span>
                                        <!-- recipe name -->
                                        <p class="box-name"><%= mealPlan.rec_name %></p>
                                        <!-- rating -->
                                        <% if (mealPlan.rec_rate) { %>
                                            <div class="box-rate">
                                                <% let rating = mealPlan.rec_rate/mealPlan.rec_rateCount; %> 
                                                <% rating = Math.round(rating)%> 
                                                <%= rating%>
                                                <span class="str"></span>
                                                <!-- <%#= mealPlan.rec_rate %> -->
                                                <!-- <span class="str"></span> -->
                                            </div>
                                        <% } else { %>
                                            <span class="box-not">This recipe hasn't been rated.</span>
                                        <% } %>
                                    </div>
                                </div>
                            </a>                       
                        </div>
                    </div>
            </div>
                <% }) %>
                <% } else { %>
                    <p class="empty">No saved meal recipes found.</p>
                <% } %>
            </div>
        </div>  
    



    <!-- custom js file link  -->
    <script src="/public/js/script.js"></script> 
    <script>
        let searchModal = document.getElementById("search");
        let button = document.getElementById("searchBut");
        let cls = document.getElementsByClassName("closeBut")[0];

        //open the modal
        button.onclick = function() {
            searchModal.style.display = "block";
        }

        //close the modal
        cls.onclick = function() {

            modal.style.display = "none";
        }

        //close it
        window.onclick = function(event) {
        if (event.target == searchModal) {
            searchModal.style.display = "none";
        }
        }

    </script>
</body>
</html>