<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/style.css">

    <!-- bootstrap for modal -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link type="text/css" href="css/bootstrap-timepicker.min.css" />
    <script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>
    <% let i = 0; %> 
    <% let ingArr = []; %> 
    <% let srv = 0; %>
    <% recs.forEach(rec => { %>
    <title><%= rec.rec_name %></title>
</head>

<body>
     <!-- message -->
     <% if (msg != '') { %>
        <div class="message">
            <span> <%= msg %> </span>
            <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
        </div>
    <% } %>  

    <!-- header -->
    <%- include('./partials/userNav'); %>
 
    <div class="userRecipeView">
        <!-- back button -->
        <a class="back-btn" onclick="history.back()"> >>> </a>
        <div class="urv-upper-content">
            <!-- # image # -->
            <div class="urv-img">
                <% if (rec.rec_image) { %>
                    <img src="/images/<%= rec.rec_image%>" alt="<%= rec.rec_name %> Image" class="img-rec">
                <% } %>
            </div>

            <div class="urv-grid">
                <div class="urv-grid-header">
                    <div class="urv-title">
                        <!-- category -->
                        <span class="rec-categ"><%= rec.rec_categ %></span>
                        <!-- recipe name -->
                        <h1 class="rec-name"><%= rec.rec_name %></h1>
                        <% if (rec.rec_rate) { %>
                            <div class="star-rate">
                                <%= rec.rec_rate %>
                                <span class="str"></span>
                            </div>  <!-- hindi ko sya magawang star HAJDKAJKDAJKKJDKJ [eka] 
                                                                lagyan ng star icon smth [euni]-->
                        <% } else { %>
                            <span>This recipe hasn't been rated.</span>
                        <% } %>
                    </div>

                    <!-- # add to saved recipe # -->
                    <div class="urv-saved-btn">
                        <% if (isSaved) { %>
                            <form action="/recipes/unsave/<%= rec.rec_id%>" method="post">
                                <br><br><button type="submit" value ="Unsave Recipe"></button>
                            </form>
                        <% } else { %>
                            <form action="/recipes/<%= rec.rec_id%>" method="post">
                                <input type="hidden" name="recID" id="recID" value="<%= rec.rec_id %>">
                                <input type="hidden" name="recName" id="recName" value="<%= rec.rec_name %>">
                                <input type="hidden" name="recDesc" id="recDesc" value="<%= rec.rec_desc %>">
                                <input type="hidden" name="recProcess" id="recProcess" value="<%= rec.rec_process %>">
                                <input type="hidden" name="recCateg" id="recCateg" value="<%= rec.rec_categ %>">
                                <input type="hidden" name="recTime" id="recTime" value="<%= rec.rec_time %>">
                                <input type="hidden" name="recServing" id="recServing" value="<%= rec.rec_serving %>">
                                <input type="hidden" name="recSrc" id="recSrc" value="<%= rec.rec_src %>">
                                <input type="hidden" name="recVid" id="recVid" value="<%= rec.rec_vid %>">
                                <input type="hidden" name="recCal" id="recCal" value="<%= rec.rec_cal %>">
                                <input type="hidden" name="recMealtime" id="recMealtime" value="<%= rec.rec_mealTime %>">
                                <input type="hidden" name="recImg" id="recImg" value="<%= rec.rec_image %>">
                                <input type="hidden" name="recRate" id="recRate" value="<%= rec.rec_rate %>">
                                <button type="submit" class="save-btn"></button>
                            </form>
                        <% } %> 
                    </div>
                </div>

                <!-- recipe desc -->
                <p class="rec-desc"><%= rec.rec_desc %></p>
            
                <!-- recipe details -->
                <div class="urv-upper-details">
                    <!-- total time -->
                    <div class="urv-time">
                        <p class="tt-time">TOTAL TIME</p>
                        <% if (rec.rec_time) { %>
                            <span class="tot-time"><%= rec.rec_time %></span>
                        <% } %>
                    </div>

                    <!-- border line -->
                    <span class="bdr-line"></span>

                    <!-- calories -->
                    <div class="urv-cal">
                        <p class="tt-cal">CALORIES</p>
                        <% if (rec.rec_cal) { %>
                            <span class="cal"><%= rec.rec_cal %></span>
                        <% } else { %>
                            <span class="calv">Calorific value is not available.</span>
                        <% } %> 
                    </div> 

                    <!-- border line -->
                    <span class="bdr-line"></span>

                <!-- recipe source -->
                <!-- <div class="rec-src"> -->
                <a href="<%= rec.rec_src %>" class="r-source">
                    <span class="src">This recipe was excepted from this source.</span>
                </a>
                <!-- </div> -->
            </div>
        </div>

        <!-- border line -->
        <span class="section-line"></span>

        <div class="urv-lower-content">
            <!-- recipe ingredients -->
            <div class="rec-ing">
                <!-- title part details-->
                <div class="ing-details">
                    <!-- ingredient title -->
                    <div class="rec-ing-title">
                        <label>Ingredients </label>
                    </div>
                        
                    <!-- add to grocery list button -->
                    <div class="ing-gl-btn">
                        <button type="button" id="openModal" class="gl-btn">add to grocery list</button>
                        <!-- The Modal -->
                        <div id="glModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p class="rec-name-mdl"><%= rec.rec_name %></p>
                                <p class="ing-mdl">Ingredients</p>
                                <!-- border line -->
                                <span class="line-mdl"></span>
                                <form action="/grocery-list" method="post" onsubmit="addGrocery()">
                                    <input type="hidden" name="recId" value="<%= rec.rec_id %>">
                                    <input type="hidden" name="gList" id="gList" value="">
                                    <div id="ingList"></div>
                                    <button type="submit" class="add-mdl">add ingredients</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- serving -->
                <div class="rec-ing-serving">
                    <% if (rec.rec_serving) { %>
                        <span class="srv-title">Serving</span>
                        <div class="serving-btn">
                            <% if (rec.rec_serving == 1) { %>
                                <% srv = rec.rec_serving; %> 
                                <button type="button" id="minusButton" class="minus-btn"></button>
                                <input type="number" class="num-srv" name="servingInp" id="servingInp" value="<%= rec.rec_serving %>" min="1" readonly>
                                <button type="button" id="plusButton" class="add-btn"></button>
                            <% } else { %>
                                <% srv = rec.rec_serving; %> 
                                <button type="button" id="minusButton" class="minus-btn"></button>
                                <input type="number" class="num-srv" name="servingInp" id="servingInp" value="1" min="1" readonly>
                                <button type="button" id="plusButton"class="add-btn"></button>
                            <% } %>
                        </div>
                    <% } %>
                </div>
    
                <!-- ingredients list -->
                <div id="ings">
                    <input id="ingCount" value="<%= recIngs.length%>" type="hidden">
                    <% for( let index = 0; index < recIngs.length; index++ ) { %>
                        <input type="hidden" name="uiInp[]" value="<%=recIngs[index]%>">
                        <% if (srv == 1) { %>
                            <% if (quantArr[index] != 0) { %>
                                <input type="hidden" name="q[]" value="<%=quantArr[index]%>">
                                <li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span>
                                <span><%=recIngs[index]%><%=ins[index] %></span></li>
                            <% } else { %>
                                <input type="hidden" name="q[]" value="<%=quantArr[index]%>">
                                <li><span id="quantSpan<%= index + 1%>"></span>
                                    <span><%=recIngs[index]%><%=ins[index] %></span></li>
                            <% } %>
                            
                        <% } else { %>
                            <% let newQuant = quantArr[index];%>
                            <% newQuant = newQuant / srv; %>
                            <% newQuant = newQuant.toFixed(2); %>  

                            <% if (quantArr[index] != 0) { %>
                                <input type="hidden" name="q[]" value="<%=quantArr[index]%>">
                                <li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span>
                                <span><%=recIngs[index]%><%=ins[index] %></span></li>
                            <% } else { %>
                                <input type="hidden" name="q[]" value="<%=quantArr[index]%>">
                                <li><span id="quantSpan<%= index + 1%>"></span>
                                    <span><%=recIngs[index]%><%=ins[index] %></span></li>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>


            <!-- ingredients process -->
            <div class="rec-process">
                <span class="rproc">Process </span>
                <textarea name="" id="" cols="30" rows="14" class="txt-area" readonly><%= rec.rec_process %></textarea><br>
            </div>

            <!-- recipe video with section line-->
            <% if (rec.rec_vid) { %>
                <!-- line -->
                <div class="section-header">
                    <h3 class="vid-title">Watch</h3>
                </div>
                <div class="rec-vid">
                    <iframe src="<%= rec.rec_vid %>" 
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                    </iframe>
                </div>
            <% } %>

            <!-- border line -->
            <span class="section-line"></span>

            <!-- recipe ratings -->
            <div class="rec-rating">
                <form action="/recipes/rate/<%= rec.rec_id%>" method="post">
                    <label class="rating-title">What do you think of this recipe?</label>
                    <div class="stars" data-rating="0">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                    <% if (isRated) { %>
                        <label class="rated-lbl">You've rated this recipe already!</label>
                        <!-- <br><br><button type="submit" disabled>Submit Rating!</button> -->
                    <% } else { %>
                        <input type="hidden" name="ratingCount" value="<%= rec.rec_rateCount %>">
                        <input type="hidden" name="recRating" id="recRating" value="<%= rec.rec_rate %>">
                        <input type="hidden" name="userRate" id="userRate" value="">
                        <button type="submit" class="rating-btn">Submit Rating</button>
                    <% } %> 
                </form>
            </div>
        </div>
    </div>
    <% }) %>   

    <!-- js -->
    <script type="text/javascript">
        let qArr = [];
        let ingsArr = [];

        document.addEventListener('DOMContentLoaded', function(){
            let stars = document.querySelectorAll('.star');
            stars.forEach(function(star){
                star.addEventListener('click', setRating); 
            });
            
            let rating = parseInt(document.querySelector('.stars').getAttribute('data-rating'));
            let target = stars[rating - 1];
            target.dispatchEvent(new MouseEvent('click'));
        });

        jQuery('input[name="q[]"]').each(function() {
                let q = this.value;
                if(q){
                    qArr.push(q);
                }
        });

        const minusButton = document.getElementById('minusButton');
        const plusButton = document.getElementById('plusButton');
        const srvField = document.getElementById('servingInp').value;
        minusButton.disabled = true;

        function btnCntrl(val) {
            if (val != 1) {
                minusButton.disabled = false;
            }
            else{
                minusButton.disabled = true;
            }
        }

        minusButton.addEventListener('click', event => {
            qArr = [];
            event.preventDefault();
            let currentValue = parseInt($('#servingInp').val());
            currentValue = currentValue - 1;
            $('#servingInp').val(currentValue);
            btnCntrl(currentValue);
            let newIngNum = parseInt($('#ingCount').val());
            
            let htmlStr = '<input id="ingCount" value="<%= recIngs.length%>" type="hidden"><% for( let index = 0; index < recIngs.length; index++ ) { %><input type="hidden" name="uiInp[]" value="<%=recIngs[index]%>"><% if (srv == 1) { %><% if (quantArr[index] != 0) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } else { %><li><span id="quantSpan<%= index + 1%>"></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } %><% } else { %><% let newQuant = quantArr[index];%><% newQuant = newQuant / srv; %><% newQuant = newQuant.toFixed(2); %>  <% if (quantArr[index] != 0) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } else { %><li><span id="quantSpan<%= index + 1%>"></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } %><% } %><% } %>';

            $("#ings").html(htmlStr);
            for (let index = 1; index <= newIngNum; index++) {
                let i = "quantSpan" + index.toString();
                let span = document.getElementById(i);
                let spanVal = span.textContent;
                if(spanVal){
                    if(Number(spanVal) % 1 === 0){
                        let newVal = parseInt(spanVal) * currentValue;
                        span.textContent = newVal.toString();
                        qArr.push(newVal.toString());
                    }
                    else{
                        let newVal = parseFloat(spanVal) * currentValue;
                        if(newVal % 1 === 0){
                            newVal = parseInt(newVal);
                        }
                        else{
                            newVal = newVal.toFixed(2);
                        }
                        span.textContent = newVal.toString();
                        qArr.push(newVal.toString());
                    } 
                }
            }
        });

        plusButton.addEventListener('click', event => {
            qArr = [];
            event.preventDefault();
            let currentValue = parseInt($('#servingInp').val());
            currentValue = currentValue + 1;
            $('#servingInp').val(currentValue);
            btnCntrl(currentValue);
            let newIngNum = parseInt($('#ingCount').val());

            let htmlStr = '<input id="ingCount" value="<%= recIngs.length%>" type="hidden"><% for( let index = 0; index < recIngs.length; index++ ) { %><input type="hidden" name="uiInp[]" value="<%=recIngs[index]%>"><% if (srv == 1) { %><% if (quantArr[index] != 0) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } else { %><li><span id="quantSpan<%= index + 1%>"></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } %><% } else { %><% let newQuant = quantArr[index];%><% newQuant = newQuant / srv; %><% newQuant = newQuant.toFixed(2); %>  <% if (quantArr[index] != 0) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } else { %><li><span id="quantSpan<%= index + 1%>"></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } %><% } %><% } %>'

            $("#ings").html(htmlStr);
            for (let index = 1; index <= newIngNum; index++) {
                let i = "quantSpan" + index.toString();
                let span = document.getElementById(i);
                let spanVal = span.textContent;
                
                if(spanVal){
                    if(Number(spanVal) % 1 === 0){
                        let newVal = parseInt(spanVal) * currentValue;
                        span.textContent = newVal.toString();
                        qArr.push(newVal.toString());
                    }
                    else{
                        let newVal = parseFloat(spanVal) * currentValue;
                        if(newVal % 1 === 0){
                            newVal = parseInt(newVal);
                        }
                        else{
                            newVal = newVal.toFixed(2);
                        }
                        span.textContent = newVal.toString();
                        qArr.push(newVal.toString());
                    } 
                }
            }
        });

        function setRating(ev){
            let span = ev.currentTarget;
            let stars = document.querySelectorAll('.star');
            let match = false;
            let num, newRating = 0;
            stars.forEach(function(star, index){
                if(match){
                    star.classList.remove('rated');
                }else{
                    star.classList.add('rated');
                }
                //are we currently looking at the span that was clicked
                if(star === span){
                    match = true;
                    num = index + 1;
                }
            });
            let currentRating = document.getElementById('recRating').value;
            if ((parseInt(currentRating)) != 0) {
                newRating = (num + parseInt(currentRating))/2;
                newRating = Math.round(newRating);
                document.getElementById('userRate').value = newRating.toString();                
                document.querySelector('.stars').setAttribute('data-rating', num);
            }
            else{
                newRating = (num + parseInt(currentRating));
                newRating = Math.round(newRating);
                document.getElementById('userRate').value = newRating.toString();
                document.querySelector('.stars').setAttribute('data-rating', num);
            }
            
        }
        
        function getIngs() {
            let count = 0;
            if(ingsArr.length === 0){
                jQuery('input[name="uiInp[]"]').each(function() {
                let ingstr = this.value;
                if(ingstr){
                    let q = qArr[count];
                    if(q){
                        if(q == 0){
                            let finalStr = ingstr;
                            ingsArr.push(finalStr.trim());
                        }
                        else{
                            let finalStr = q + ingstr;
                            ingsArr.push(finalStr); 
                        }
                    }
                    else{
                        let finalStr = ingstr;
                        ingsArr.push(finalStr.trim());
                    }
                }
                count++;
                });
            }
            

            //$('#gList').val(JSON.stringify(ingsArr));
        }

        function addGrocery() {
            let gListArr = [];
            let cont = document.querySelector('#ingList');
            let ingChecked = cont.querySelectorAll('input[name="ingsCb[]"]');
            ingChecked.forEach(ic => {
                if(ic.checked){
                    gListArr.push(ic.value);
                }
            });

            $('#gList').val(JSON.stringify(gListArr));
        }
    
        let modal = document.getElementById("glModal");
        let btn = document.getElementById("openModal");
        let span = document.getElementsByClassName("close")[0];

        //open the modal
        btn.onclick = function() {
            getIngs();
            ingsArr.forEach(ia => {
                let input = '<div class="list-mdl" style="font-size: 1.3em; margin:0.7em auto 0.7em;"><input type="checkbox" name="ingsCb[]"value="'
                    + ia +'">&nbsp;&nbsp;&nbsp;<label for="ingCheckbox" style="font-weight: normal;">'
                    + ia +'</label><br></div><span class="bdr-mdl" style="display: block; border-top: 1px solid black; height: 1px; width: 100%; margin: 0 auto; opacity: 0.1;"></span>';
                $("#ingList").append(input);
            });
            modal.style.display = "block";
        }

        //close the modal
        span.onclick = function() {
            $("#ingList").empty();
            modal.style.display = "none";
        }

        //close it
        window.onclick = function(event) {
        if (event.target == modal) {
            $("#ingList").empty();
            modal.style.display = "none";
        }
        }

        //textarea
        var textarea = document.querySelector('textarea');

        textarea.addEventListener('keydown', autosize);
             
        function autosize(){
        var el = this;
        setTimeout(function(){
            el.style.cssText = 'height:auto; padding:0';
            // for box-sizing other than "content-box" use:
            // el.style.cssText = '-moz-box-sizing:content-box';
            el.style.cssText = 'height:' + el.scrollHeight + 'px';
        },0);
        }


    </script>

    <!-- custom js file link  -->
    <script src="/public/js/script.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</body>
</html>