<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="icon" href="/images/logo/logo-recipinoy.png" type="image/icon type">
    
     <!-- para sa input ng ing -->
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title><%= title %> </title>
</head>
<body>
        <!-- loader -->
        <!-- <div class="loader">
            <img src="/images/loader.gif" alt="">
        </div> -->
    <!-- user header -->
    <%#- include('./partials/guestNav'); %>
    <%- include('./partials/userNav'); %>

    <div class ="recipeResults">
        <a class="back-btn" onclick="history.back()"><span class="rec-back">>> Back</span></a>
        <br>

        <!-- title -->
        <span class="titleheading">Recipe Recommender using Ingredients</span>

        <span class="toCenter"><a href="/recommend"><button class="getRecommAgainBtn">Get Recommendation Again!</button></a></span>
    
        <% if (msg != '') { %>
            <h4><%= msg %> </h4>
            <br>
        <% } %>
        <br>

        <form action="/recommend/new" method="post" id="resForm">
            <!-- Included Ingredients -->
            <div class="parentContainerRes">
                <!-- Included Ingredients List Box -->
                <div class="containerRes">
                    <div class="addedIngBoxRes">
                        <h2 style="text-align: center;">Included Ingredients</h2>
                        <br>
                        <div id="ingDiv" style="text-align: center;">
                            <ul id="ingCont">
                                <% for( let index = 0; index < ings.length; index++ ) { %>
                                    <!-- mukhang button to dapat yung li since clickable sya -->
                                    <li name="ingLi[]" onclick="removeIng(this)"><%= ings[index] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="color:red;">X</b></li> 
                                    <input type="hidden" name="ings[]" id="ing<%= index+1 %>" value="<%= ings[index] %>">
                                    <input type="hidden" name="ingNum" id="ingNum" value="<%= index+1 %>">
                                <% } %>
                            </ul>
                        </div>
                        <br>
                    </div>
                </div>
                <!-- Button for Show Form -->
                <span class="toCenter"><button type="button" id="addIngredientsBtn" class="BtnForAddShowForm">Add More Ingredients to Include</button></span>
                <!-- Show Form -->
                <div id="showForm" style="display:none; width: 100%;">
                    <div class="searchandaddRes" >
                        <div class="searchRes">
                            <input type="text" placeholder="Enter your ingredients onhand..." name="ings[]" id="ingNew" class="ingsInp">
                            <div class="iconRes">
                                <i class="fa-solid fa-magnifying-glass-plus" style="font-size: 32px; margin-right: 8px;"></i>
                            </div>
                        </div>
                        <button type="button" onclick="add()" class="addIngBtnRes">
                            <i class="fa fa-plus fa-1x" aria-hidden="true" style="padding-right: 10px;"></i>Include Ingredient
                        </button>
                    </div>
                    <input type="hidden" name="ingsVal" value="" id="ingsVal">
                </div>
            </div>
        
            <!-- Excluded Ingredients -->
            <div class="parentContainerRes">
                <!-- Excluded Ingredients List Box -->
                <div class="containerRes">
                    <div class="excludedIngBoxRes">
                        <h2 style="text-align: center;">Excluded Ingredients</h2>
                        <br>
                        <% if (exIngs) { %>
                        <div id="exIngDiv" style="text-align: center;">
                            <ul id="exIngCont">
                                <% for( let index = 0; index < exIngs.length; index++ ) { %>
                                    <!-- mukhang button to dapat yung li since clickable sya -->
                                    <% if (exIngs[index]) { %>
                                       <li name="exIngLi[]" onclick="removeExIng(this)"><%= exIngs[index] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="color:red;">X</b></li> 
                                       <input type="hidden" name="exIng[]" id="exIng<%= index+1 %>" value="<%= exIngs[index] %>">
                                    <% } %>    
                               <% } %>
                            </ul>
                            <input type="hidden" name="exIngNum" id="exIngNum" value="0">
                        </div>
                        <% } else { %>
                            <p><strong>No exclusions.</strong></p>
                            <input type="hidden" name="exIngNum" id="exIngNum" value="0">
                        <% } %>
                        <br>
                    </div>
                </div>
                <!-- Button for Show Form -->
                <span class="toCenter"><button type="button" id="addExIngredientsBtn" class="BtnForExShowForm">Add More Ingredients to Exclude</button></span>
                <!-- Show Form -->
                <div id="showExForm" style="display:none; width: 100%;">
                    <div class="searchandaddRes">
                        <div class="searchRes">
                            <input type="text" placeholder="Enter ingredients you want to exclude..." name="exIng[]" id="exIngNew" class="ingsInp">
                            <div class="iconExcludeRes">
                                <i class="fa-solid fa-magnifying-glass-plus" style="font-size: 32px; margin-right: 8px;"></i>
                            </div>
                        </div>
                        <button type="button" onclick="add()" class="excludeIngBtnRes">
                            <i class="fa fa-plus fa-1x" aria-hidden="true" style="padding-right: 10px;"></i>Exclude Ingredient
                        </button>
                    </div>
                </div>
                <input type="hidden" name="exIngsVal" value="" id="exIngsVal">  
            </div>
        </form>
    <br>
    <h5>Recommended Recipes</h5>
        <div class="usr-container">
                <% let count = 10; %> 
                <% for( let index = 0; index < recId.length; index++ ) { %>
                    <% if (index < count) { %>
                        <div class="result-card">
                            <div class="box-card">
                            <!-- img -->
                            <div class="box-header">
                                <img src="/images/<%= recImage[index]%>" alt="<%= recName[index] %> Image" class="box-img">
                            </div>
                            <!-- details -->
                            <div class="box-details">
                                <a href="/recipes/<%= recId[index]%>" class="rec-usr">
                                    <div class="box-one">
                                        <div class="name-cont">
                                            <!-- category -->
                                            <span class="box-categ"><%= recCateg[index] %></span>
                                            <!-- recipe name -->
                                            <p class="box-name"><%= recName[index] %></p>
                                            <!-- rating -->
                                            <% if (recRate[index]) { %>
                                                <div class="box-rate">
                                                    <% let rating = recRate[index]/recRateCount[index]; %> 
                                                    <% rating = Math.round(rating)%> 
                                                    <%= rating%>
                                                    <span class="str"></span>
                                                </div>
                                            <% } else { %>
                                                <span class="box-not">This recipe hasn't been rated.</span>
                                            <% } %>
                                        </div>
                                    </div>
                                </a>                       
                            </div>
                            </div>
                        </div>
                    <% } %>

                <% } %>
        </div>
    </div>



    <script type="text/javascript">
        $('#addIngredientsBtn').on('click', addIngForm);
        $('#addExIngredientsBtn').on('click', addExIngForm);
        
        let deletedIng = [];
        let deletedExIng = [];
        $(document).ready(function() {   //https://github.com/ashwanibakshi/autocompletesearch
            $(".ingsInp").autocomplete({  
            source:function(req,res){
                $.ajax({
                    url:'/recommend/search',
                    method:'post',
                    dataType:'json',
                    data:{'ing':req.term},
                    success:function(data){ 
                        let ingRes = new Array();
                            $.each(data.data,(index,values)=>{
                                ingRes.push({'value':values.ing_name});
                        });
                        res(ingRes)
                    },
                    error:function(){
                        alert('server error occured')
                    }
                });
            }
            });
        });

        function addIngForm() {
            let form = document.getElementById("showForm");
            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }

        function addExIngForm() {
            let form = document.getElementById("showExForm");
            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }


        // console.log(tempExIng);
        // console.log(tempIng);

        function add() {
            let tempIng = [];
            let tempExIng = [];

            jQuery('li[name="exIngLi[]"]').each(function() {
                let str = $(this).text();
                let newStr = str.replace(/X/g, '');
                tempExIng.push(newStr.trim());
            });
            jQuery('li[name="ingLi[]"]').each(function() {
                let str = $(this).text();
                let newStr = str.replace(/X/g, '');
                tempIng.push(newStr.trim());
            });

            let xv = [];
            let iv = [];
            jQuery('input[name="exIng[]"]').each(function() { 
                let exIngstr = this.value;
                let temp = [];
                    if(deletedExIng.length > 0){
                        for (let index = 0; index < deletedExIng.length; index++) {
                        const element = deletedExIng[index];
                            if(exIngstr != element){
                                xv.push(exIngstr.toLowerCase());
                                tempExIng.push(exIngstr.toLowerCase());
                                let newIngNum = parseInt($('#exIngNum').val()) + 1;
                                $('#exIngNum').val(newIngNum); 
                                
                            }
                        }
                    }
                    else{
                        if(tempExIng.includes(exIngstr)){
                                if(xv.includes(exIngstr)){
                                    alert("ingredient is already entered!");
                                }
                                else{
                                    xv.push(exIngstr.toLowerCase());
                                }
                            }
                            else{
                                xv.push(exIngstr.toLowerCase());
                                tempExIng.push(exIngstr.toLowerCase());
                                let newIngNum = parseInt($('#exIngNum').val()) + 1;
                                $('#exIngNum').val(newIngNum); 
                            }
                    }
            });

            jQuery('input[name="ings[]"]').each(function() {
                let ingstr = this.value;
                if(ingstr){
                    if(deletedIng.length > 0){
                        for (let index = 0; index < deletedIng.length; index++) {
                        const element = deletedIng[index];
                        if(ingstr != element){ 
                            iv.push(ingstr.toLowerCase());
                        }
                        }
                    }
                    else{
                        if(tempIng.includes(ingstr)){
                                if(iv.includes(ingstr)){
                                    alert("ingredient is already entered!");
                                }
                                else{
                                    iv.push(ingstr.toLowerCase());
                                }
                            }
                            else{
                                iv.push(ingstr.toLowerCase());
                                tempIng.push(ingstr.toLowerCase());
                            }

                    }
                    
                }
            });

            if(iv.length < 4){
                alert("Ingredients should be at least 4!");
                document.getElementById("showForm").style.display = "block";
                document.getElementById('ingNew').setAttribute(required, '');
                document.getElementById('ingNew').focus();
            }
            else{
                $('#exIngsVal').val(JSON.stringify(xv));
                $('#ingsVal').val(JSON.stringify(iv))
                document.getElementById("resForm").submit();
            }
            
        }
        

        function removeIng(ing) {
            ing.parentNode.removeChild(ing);
            console.log("ing: ", ing);
            let str = $(ing).text();
            let newStr = str.replace(/X/g, '');
            deletedIng.push(newStr.trim());
            console.log(deletedIng);
            add();
        }

        function removeExIng(ing) {
            ing.parentNode.removeChild(ing);
            console.log("ing: ", ing);
            let str = $(ing).text();
            let newStr = str.replace(/X/g, '');
            deletedExIng.push(newStr.trim());
            console.log(deletedExIng);
            add();
        }
    </script>


    <!-- custom js file link  -->
    <script src="/public/js/script.js"></script>
</body>
</html>