<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Ingredient</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/admin_style.css">
</head>
<body>
    <!-- admin dashboard section starts  -->
    <%- include('./partials/adminNav'); %>


    <form action="/admin/recipes/create/ing" method="post" onsubmit="insertValues()">
        <div id="ings">
        <% for( let index = 0; index < ings.length; index++ ) { %>
            <br><h3>Choose where diet restrictions and food allergies <%= ings[index] %> belongs:</h3><br><br>
            <input type="hidden" name="names[]" value="<%= ings[index] %>">
            <div class="dr<%= index + 1 %>">
                <h4>Diet Restrictions: </h4><br>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Lactose intolerance">
                <label for="dietRLacInt">Lactose intolerance</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Gluten intolerance">
                <label for="dietRGutInt">Gluten intolerance</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Vegetarianism">
                <label for="dietRVegetnism">Vegetarianism</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Veganism">
                <label for="dietRVeganism">Veganism</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Kosher">
                <label for="dietRKosher">Kosher</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Keto">
                <label for="dietRKeto">Keto</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Diabetes">
                <label for="dietRDiab">Diabetes</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Dairy-free">
                <label for="dietRDairy">Dairy-free</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Low carb">
                <label for="dietRLowCarb">Low carb</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="none">
                <label for="dietRNone">None</label>
            </div> 
                <div class="fa<%= index + 1  %>">
                    <h4>Food Allegies: </h4><br>
                    <input type="checkbox" name="faInp" id="faInp" value="cow&rsquo;s milk">
                    <label for="faCow">Cow&rsquo;s milk</label>
                    <input type="checkbox" name="faInp" id="faInp" value="eggs">
                    <label for="faEggs">Eggs</label>
                    <input type="checkbox" name="faInp" id="faInp" value="tree nuts">
                    <label for="faTNuts">Tree nuts</label>
                    <input type="checkbox" name="faInp" id="faInp" value="peanuts">
                    <label for="faTPnuts">Peanuts</label>
                    <input type="checkbox" name="faInp" id="faInp" value="shellfish">
                    <label for="faShllfish">Shellfish</label>
                    <input type="checkbox" name="faInp" id="faInp" value="wheat">
                    <label for="faWheat">Wheat</label>
                    <input type="checkbox" name="faInp" id="faInp" value="soy">
                    <label for="faSoy">Soy</label>
                    <input type="checkbox" name="faInp" id="faInp" value="Fish">
                    <label for="faFish">Fish</label>
                    <input type="checkbox" name="faInp" id="faInp" value="none">
                    <label for="faNone">None</label>  
                </div>
        <% } %>
            </div>
            <input type="hidden" name="ingName" id="ingName" value="">
            <input type="hidden" name="faValues" id="faValues" value="">
            <input type="hidden" name="drValues" id="drValues" value="">

            <button type="submit">save</button>
    </form>

 <script type="text/javascript">
    const cont = document.getElementById('ings');
    const allDiv = cont.getElementsByTagName('div').length;
    let divCounts = allDiv / 2;

    let drVals = [];
    let faVals = [];
    let nameVals = [];
    let drStr = '';
    let faStr = '';


    function insertValues() {
        for (let index = 1; index <= divCounts; index++) {
            let classDrStr = '.dr' + index.toString();
            console.log(classDrStr);
            let drCont = document.querySelector(classDrStr);
            let drCheckbox = drCont.querySelectorAll('input[name=dietRInp]');

            let classFaStr = '.fa' + index.toString();
            let faCont = document.querySelector(classFaStr);
            let faCheckbox = faCont.querySelectorAll('input[name=faInp]');

            drCheckbox.forEach(cb => {
                if(cb.checked){
                    drStr += cb.value + ', ';
                }
            })

            faCheckbox.forEach(cb => {
                if(cb.checked){
                    faStr += cb.value + ', ';
                }
            })

            drVals.push(drStr.toLowerCase());
            faVals.push(faStr);
            drStr = '';
            faStr = '';
        }
        

        jQuery('input[name="names[]"]').each(function() {
            nameVals.push(this.value);
        })

        $('#ingName').val(JSON.stringify(nameVals));
        $('#faValues').val(JSON.stringify(faVals));
        $('#drValues').val(JSON.stringify(drVals));
    }

 </script>
</body>
</html>