<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/style.css">

    <!-- bootstrap for modal -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link type="text/css" href="css/bootstrap-timepicker.min.css" />
    <script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>
    <% let i = 0; %> 
    <% let ingArr = []; %> 
    <% let srv = 0; %>
    <% recs.forEach(rec => { %>
    <title><%= rec.rec_name %></title>
</head>

<body>
     <!-- message -->
     <% if (msg != '') { %>
        <div class="message">
            <span> <%= msg %> </span>
            <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
        </div>
    <% } %>  

    <!-- header -->
    <%- include('./partials/userNav'); %>
 
    <div class="userRecipeView">
        <div class="urv-upper-content">
            <!-- back button -->
            <a class="back-btn" onclick="history.back()"> <<< </a>
    
            <!-- # image # -->
            <div class="urv-img">
                <% if (rec.rec_image) { %>
                    <img src="/images/<%= rec.rec_image%>" alt="<%= rec.rec_name %> Image" class="img-rec">
                <% } %><br><br>
            </div>

            <div class="urv-title">
                <!-- category -->
                <span><%= rec.rec_categ %></span>
                <!-- recipe name -->
                <h1 class="rec-name"><%= rec.rec_name %></h1>
                <% if (rec.rec_rate) { %>
                    <span><%= rec.rec_rate %></span>  <!-- hindi ko sya magawang star HAJDKAJKDAJKKJDKJ [eka] 
                                                        lagyan ng star icon smth [euni]-->
                <% } else { %>
                    <span>This recipe hasn't been rated.</span>
                <% } %>
            </div>

             <!-- # add to saved recipe # -->
             <div class="urv-saved-btn">
                <% if (isSaved) { %>
                    <form action="/recipes/unsave/<%= rec.rec_id%>" method="post">
                        <br><br><input type="submit" value ="Unsave Recipe"></input>
                    </form>
                <% } else { %>
                    <form action="/recipes/<%= rec.rec_id%>" method="post">
                        <input type="hidden" name="recID" id="recID" value="<%= rec.rec_id %>">
                        <input type="hidden" name="recName" id="recName" value="<%= rec.rec_name %>">
                        <input type="hidden" name="recDesc" id="recDesc" value="<%= rec.rec_desc %>">
                        <input type="hidden" name="recProcess" id="recProcess" value="<%= rec.rec_process %>">
                        <input type="hidden" name="recCateg" id="recCateg" value="<%= rec.rec_categ %>">
                        <input type="hidden" name="recTime" id="recTime" value="<%= rec.rec_time %>">
                        <input type="hidden" name="recServing" id="recServing" value="<%= rec.rec_serving %>">
                        <input type="hidden" name="recSrc" id="recSrc" value="<%= rec.rec_src %>">
                        <input type="hidden" name="recVid" id="recVid" value="<%= rec.rec_vid %>">
                        <input type="hidden" name="recCal" id="recCal" value="<%= rec.rec_cal %>">
                        <input type="hidden" name="recMealtime" id="recMealtime" value="<%= rec.rec_mealTime %>">
                        <input type="hidden" name="recImg" id="recImg" value="<%= rec.rec_image %>">
                        <input type="hidden" name="recRate" id="recRate" value="<%= rec.rec_rate %>">
                        <input type="submit" value="Add to Saved Recipes" class="save-btn">
                    </form>
                <% } %> 
            </div>

            <!-- recipe desc -->
            <p class="rec-desc"><%= rec.rec_desc %></p>
        
            <!-- recipe details -->
            <div class="urv-upper-details">
                <!-- total time -->
                <div class="urv-time">
                    <p>TOTAL TIME</p>
                    <% if (rec.rec_time) { %>
                        <span><%= rec.rec_time %></span>
                    <% } %>
                </div>

                <!-- calories -->
                <div class="urv-cal">
                    <p>CALORIES</p>
                    <% if (rec.rec_cal) { %>
                        <span><%= rec.rec_cal %></span>
                    <% } else { %>
                        <span>Calorific value is not available.</span>
                    <% } %> 
                </div> 
                
                <!-- add to meal plan -->
                <div class="urv-add-mp">
                    <% if (isMeal) { %>
                        <button type="button" id="mealPlanBut">Edit Schedule:</button>
                        <div id="mealPlan" class="modal">
                            <div class="modal-content">
                                <span class="closeBut">&times;</span>
                                <div id="cont">
                                    <form action="/mealPlan/edit" method="post"> 
                                        <input type="text" name="datetimes" />
                                            <label for="recMTime" class="addRecLabel">Meal Time: </label>
                                        <input type="checkbox" id="recMTimeInp" name="recMTimeInp" value="Breakfast">
                                            <label for="mtBreakfast" class="addRecLabel">Breakfast</label>
                                        <input type="checkbox" id="recMTimeInp" name="recMTimeInp" value="Lunch">
                                            <label for="mtLunch" class="addRecLabel">Lunch</label>
                                        <input type="checkbox" id="recMTimeInp" name="recMTimeInp" value="Meryenda">
                                            <label for="mtLunch" class="addRecLabel">Meryenda</label>
                                        <input type="checkbox" id="recMTimeInp" name="recMTimeInp" value="Dinner">
                                            <label for="mtDinner" class="addRecLabel">Dinner</label><br><br>
                                        <input type="hidden" name="recID" value="<%= rec.rec_id %>">
                                        <input type="hidden" name="recName" id="recName" value="<%= rec.rec_name %>">
                                        <input type="hidden" name="recImg" id="recImg" value="<%= rec.rec_image %>">
                                        <br><br><button type="submit">Edit Schedule</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% } else { %>
                        <button type="button" id="mealPlanBut">Add to Meal Plan</button>
                        <div id="mealPlan" class="modal">
                            <div class="modal-content">
                                <span class="closeBut">&times;</span>
                                <div id="cont">
                                    <form action="/mealPlan" method="post"> 
                                        <input type="text" name="datetimes" />
                                            <label for="recMTime" class="addRecLabel">Meal Time: </label>
                                        <input type="checkbox" id="recMTimeInp" name="recMTimeInp" value="Breakfast">
                                            <label for="mtBreakfast" class="addRecLabel">Breakfast</label>
                                        <input type="checkbox" id="recMTimeInp" name="recMTimeInp" value="Lunch">
                                            <label for="mtLunch" class="addRecLabel">Lunch</label>
                                        <input type="checkbox" id="recMTimeInp" name="recMTimeInp" value="Meryenda">
                                            <label for="mtLunch" class="addRecLabel">Meryenda</label>
                                        <input type="checkbox" id="recMTimeInp" name="recMTimeInp" value="Dinner">
                                            <label for="mtDinner" class="addRecLabel">Dinner</label><br><br>
                                        <input type="hidden" name="recID" value="<%= rec.rec_id %>">
                                        <input type="hidden" name="recName" id="recName" value="<%= rec.rec_name %>">
                                        <input type="hidden" name="recImg" id="recImg" value="<%= rec.rec_image %>">
                                        <br><br><button type="submit">Add to Meal Plan</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <hr>

        <div class="urv-lower-content">
            <!-- recipe ingredients -->
            <div class="rec-ing">
                <div class="rec-ing-title">
                    <label>Ingredients </label>
                
                    <!-- serving -->
                    <div class="rec-ing-serving">
                        <% if (rec.rec_serving) { %>
                            <% if (rec.rec_serving == 1) { %>
                                <span>
                                    <% srv = rec.rec_serving; %> 
                                    <button type="button" id="minusButton">-</button>
                                    <input type="number" name="servingInp" id="servingInp" value="<%= rec.rec_serving %>" min="1" readonly>
                                    <button type="button" id="plusButton">+</button>
                                </span>
                            <% } else { %>
                                <% srv = rec.rec_serving; %> 
                                <button type="button" id="minusButton">-</button>
                                <input type="number" name="servingInp" id="servingInp" value="1" min="1" readonly>
                                <button type="button" id="plusButton">+</button>
                            <% } %>
                        <% } %>
                    </div>
                    
                    <!-- add to grocery list button -->
                    <div class="ing-gl-btn">
                        <button type="button" id="openModal">add to grocery list</button>
                        <!-- The Modal -->
                        <div id="glModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <form action="/grocery-list" method="post" onsubmit="addGrocery()">
                                    <input type="hidden" name="recId" value="<%= rec.rec_id %>">
                                    <input type="hidden" name="gList" id="gList" value="">
                                    <div id="ingList"></div>
                                    <br><br><button type="submit">add ingredients to grocery list</button>
                                </form>
                             </div>
                        </div>
                    </div>
                </div>
    
                <!-- ingredients list -->
                <div id="ing-list">
                    <input id="ingCount" value="<%= recIngs.length%>" type="hidden">
                    <% for( let index = 0; index < recIngs.length; index++ ) { %>
                        <input type="hidden" name="uiInp[]" value="<%=recIngs[index]%>">
                        <% if (srv == 1) { %>
                            <% if (quantArr[index] != 0) { %>
                                <input type="hidden" name="q[]" value="<%=quantArr[index]%>">
                                <li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span>
                                <span><%=recIngs[index]%><%=ins[index] %></span></li>
                            <% } else { %>
                                <input type="hidden" name="q[]" value="<%=quantArr[index]%>">
                                <li><span id="quantSpan<%= index + 1%>"></span>
                                    <span><%=recIngs[index]%><%=ins[index] %></span></li>
                            <% } %>
                            
                        <% } else { %>
                            <% let newQuant = quantArr[index];%>
                            <% newQuant = newQuant / srv; %>
                            <% newQuant = newQuant.toFixed(2); %>  

                            <% if (quantArr[index] != 0) { %>
                                <input type="hidden" name="q[]" value="<%=quantArr[index]%>">
                                <li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span>
                                <span><%=recIngs[index]%><%=ins[index] %></span></li>
                            <% } else { %>
                                <input type="hidden" name="q[]" value="<%=quantArr[index]%>">
                                <li><span id="quantSpan<%= index + 1%>"></span>
                                    <span><%=recIngs[index]%><%=ins[index] %></span></li>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>

            <!-- ingredients process -->
            <label class="rproc">Process </label>
            <div class="rec-process">
                <textarea name="" id="" cols="30" rows="10" readonly><%= rec.rec_process %></textarea><br>
            </div>

            <!-- recipe source -->
            <div class="rec-src">
                <a href="<%= rec.rec_src %>">
                    <strong>Source</strong>
                </a>
            </div>

            <!-- recipe video -->
            <label class="rvid">Video </label>
            <div class="rec-vid">
                <% if (rec.rec_vid) { %>
                    <iframe src="<%= rec.rec_vid %>"></iframe>
                <% } %> 
            </div>

            <!-- recipe ratings -->
            <div class="rec-rating">
                <form action="/recipes/rate/<%= rec.rec_id%>" method="post">
                    <br><h3>What do you think of this recipe?</h3><br>
                    <div class="stars" data-rating="0">
                        <span class="star">&nbsp;</span>
                        <span class="star">&nbsp;</span>
                        <span class="star">&nbsp;</span>
                        <span class="star">&nbsp;</span>
                        <span class="star">&nbsp;</span>
                    </div>
                    <% if (isRated) { %>
                        <h5>You've rated this recipe already!</h5>
                        <br><br><button type="submit" disabled>Submit Rating!</button>
                    <% } else { %>
                        <input type="hidden" name="ratingCount" value="<%= rec.rec_rateCount %>">
                        <input type="hidden" name="recRating" id="recRating" value="<%= rec.rec_rate %>">
                        <input type="hidden" name="userRate" id="userRate" value="">
                        <br><br><button type="submit">Submit Rating!</button>
                    <% } %> 
                </form>
            </div>
        </div>
    </div>
    <% }) %>   

    <!-- js -->
    <script type="text/javascript">
        let qArr = [];
        let ingsArr = [];

        document.addEventListener('DOMContentLoaded', function(){
            let stars = document.querySelectorAll('.star');
            stars.forEach(function(star){
                star.addEventListener('click', setRating); 
            });
            
            let rating = parseInt(document.querySelector('.stars').getAttribute('data-rating'));
            let target = stars[rating - 1];
            target.dispatchEvent(new MouseEvent('click'));
        });

        jQuery('input[name="q[]"]').each(function() {
                let q = this.value;
                if(q){
                    qArr.push(q);
                }
        });

        const minusButton = document.getElementById('minusButton');
        const plusButton = document.getElementById('plusButton');
        const srvField = document.getElementById('servingInp').value;
        minusButton.disabled = true;

        function btnCntrl(val) {
            if (val != 1) {
                minusButton.disabled = false;
            }
            else{
                minusButton.disabled = true;
            }
        }

        minusButton.addEventListener('click', event => {
            qArr = [];
            event.preventDefault();
            let currentValue = parseInt($('#servingInp').val());
            currentValue = currentValue - 1;
            $('#servingInp').val(currentValue);
            btnCntrl(currentValue);
            let newIngNum = parseInt($('#ingCount').val());
            
            let htmlStr = '<input id="ingCount" value="<%= recIngs.length%>" type="hidden"><% for( let index = 0; index < recIngs.length; index++ ) { %><input type="hidden" name="uiInp[]" value="<%=recIngs[index]%>"><% if (srv == 1) { %><% if (quantArr[index] != 0) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } else { %><li><span id="quantSpan<%= index + 1%>"></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } %><% } else { %><% let newQuant = quantArr[index];%><% newQuant = newQuant / srv; %><% newQuant = newQuant.toFixed(2); %>  <% if (quantArr[index] != 0) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } else { %><li><span id="quantSpan<%= index + 1%>"></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } %><% } %><% } %>';

            $("#ings").html(htmlStr);
            for (let index = 1; index <= newIngNum; index++) {
                let i = "quantSpan" + index.toString();
                let span = document.getElementById(i);
                let spanVal = span.textContent;
                if(spanVal){
                    if(Number(spanVal) % 1 === 0){
                        let newVal = parseInt(spanVal) * currentValue;
                        span.textContent = newVal.toString();
                        qArr.push(newVal.toString());
                    }
                    else{
                        let newVal = parseFloat(spanVal) * currentValue;
                        if(newVal % 1 === 0){
                            newVal = parseInt(newVal);
                        }
                        else{
                            newVal = newVal.toFixed(2);
                        }
                        span.textContent = newVal.toString();
                        qArr.push(newVal.toString());
                    } 
                }
            }
        });

        plusButton.addEventListener('click', event => {
            qArr = [];
            event.preventDefault();
            let currentValue = parseInt($('#servingInp').val());
            currentValue = currentValue + 1;
            $('#servingInp').val(currentValue);
            btnCntrl(currentValue);
            let newIngNum = parseInt($('#ingCount').val());

            let htmlStr = '<input id="ingCount" value="<%= recIngs.length%>" type="hidden"><% for( let index = 0; index < recIngs.length; index++ ) { %><input type="hidden" name="uiInp[]" value="<%=recIngs[index]%>"><% if (srv == 1) { %><% if (quantArr[index] != 0) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } else { %><li><span id="quantSpan<%= index + 1%>"></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } %><% } else { %><% let newQuant = quantArr[index];%><% newQuant = newQuant / srv; %><% newQuant = newQuant.toFixed(2); %>  <% if (quantArr[index] != 0) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } else { %><li><span id="quantSpan<%= index + 1%>"></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } %><% } %><% } %>'

            $("#ings").html(htmlStr);
            for (let index = 1; index <= newIngNum; index++) {
                let i = "quantSpan" + index.toString();
                let span = document.getElementById(i);
                let spanVal = span.textContent;
                
                if(spanVal){
                    if(Number(spanVal) % 1 === 0){
                        let newVal = parseInt(spanVal) * currentValue;
                        span.textContent = newVal.toString();
                        qArr.push(newVal.toString());
                    }
                    else{
                        let newVal = parseFloat(spanVal) * currentValue;
                        if(newVal % 1 === 0){
                            newVal = parseInt(newVal);
                        }
                        else{
                            newVal = newVal.toFixed(2);
                        }
                        span.textContent = newVal.toString();
                        qArr.push(newVal.toString());
                    } 
                }
            }
        });

        function setRating(ev){
            let span = ev.currentTarget;
            let stars = document.querySelectorAll('.star');
            let match = false;
            let num, newRating = 0;
            stars.forEach(function(star, index){
                if(match){
                    star.classList.remove('rated');
                }else{
                    star.classList.add('rated');
                }
                //are we currently looking at the span that was clicked
                if(star === span){
                    match = true;
                    num = index + 1;
                }
            });
            let currentRating = document.getElementById('recRating').value;
            if ((parseInt(currentRating)) != 0) {
                newRating = (num + parseInt(currentRating))/2;
                newRating = Math.round(newRating);
                document.getElementById('userRate').value = newRating.toString();                
                document.querySelector('.stars').setAttribute('data-rating', num);
            }
            else{
                newRating = (num + parseInt(currentRating));
                newRating = Math.round(newRating);
                document.getElementById('userRate').value = newRating.toString();
                document.querySelector('.stars').setAttribute('data-rating', num);
            }
            
        }
        
        function getIngs() {
            let count = 0;
            if(ingsArr.length === 0){
                jQuery('input[name="uiInp[]"]').each(function() {
                let ingstr = this.value;
                if(ingstr){
                    let q = qArr[count];
                    if(q){
                        if(q == 0){
                            let finalStr = ingstr;
                            ingsArr.push(finalStr.trim());
                        }
                        else{
                            let finalStr = q + ingstr;
                            ingsArr.push(finalStr); 
                        }
                    }
                    else{
                        let finalStr = ingstr;
                        ingsArr.push(finalStr.trim());
                    }
                }
                count++;
                });
            }
            

            //$('#gList').val(JSON.stringify(ingsArr));
        }

        function addGrocery() {
            let gListArr = [];
            let cont = document.querySelector('#ingList');
            let ingChecked = cont.querySelectorAll('input[name="ingsCb[]"]');
            ingChecked.forEach(ic => {
                if(ic.checked){
                    gListArr.push(ic.value);
                }
            });

            $('#gList').val(JSON.stringify(gListArr));
        }
    
        let modal = document.getElementById("glModal");
        let btn = document.getElementById("openModal");
        let span = document.getElementsByClassName("close")[0];

        //open the modal
        btn.onclick = function() {
            getIngs();
            ingsArr.forEach(ia => {
                let input = '<input type="checkbox" name="ingsCb[]" value="'+ ia +'">&nbsp;&nbsp;&nbsp;<label for="ingCheckbox">'+ ia +'</label><br>';
                $("#ingList").append(input);
            });
            modal.style.display = "block";
        }

        //close the modal
        span.onclick = function() {
            $("#ingList").empty();
            modal.style.display = "none";
        }

        //close it
        window.onclick = function(event) {
        if (event.target == modal) {
            $("#ingList").empty();
            modal.style.display = "none";
        }
        }

        $(function() {
         $('input[name="datetimes"]').daterangepicker({
            "singleDatePicker": true,
        "minYear": 2022,
        "showWeekNumbers": true,
        "timePicker": true,
        "locale": {
        "format": "MM/DD/YYYY hh:mm A",
        "separator": " - ",
        "applyLabel": "Apply",
        "cancelLabel": "Cancel",
        "fromLabel": "From",
        "toLabel": "To",
        "customRangeLabel": "Custom",
        "weekLabel": "W",
        "daysOfWeek": [
            "Su",
            "Mo",
            "Tu",
            "We",
            "Th",
            "Fr",
            "Sa"
        ],
        "monthNames": [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December"
        ],
        "firstDay": 1
        },
        "startDate": "10/08/2022",
        "minDate": "10/08/2022",
        "opens": "center"
        })
        });

    let mealModal = document.getElementById("mealPlan");
        let button = document.getElementById("mealPlanBut");
        let cls = document.getElementsByClassName("closeBut")[0];

        //open the modal
        button.onclick = function() {
            mealModal.style.display = "block";
        }

        //close the modal
        cls.onclick = function() {

            modal.style.display = "none";
        }

        //close it
        window.onclick = function(event) {
        if (event.target == mealModal) {
            mealModal.style.display = "none";
        }
        }
    </script>

    <!-- custom js file link  -->
    <script src="/public/js/script.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</body>
</html>