<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <!-- guest dashboard section starts  -->
    <%#- include('./partials/logoOnlyNav'); %>
    <%- include('./partials/userNav'); %>
    
    <section class="recipeResults">
        <a href="/" class="back-btn">>> Back</a>


        <h1 class="titleheading">Search Results</h1>
        
        <section>
            <div class="getFilter">
                <h1>Filter: </h1>
                <br><br>
                <form action="/search/filter" method="post">
                <label for="recDish" class="addRecLabel">Dish Type:</label>
                    <input type="radio" id="recDishInp" name="recDishInp" value="Breakfast" onchange="this.form.submit()" >
                        <label for="mtBreakfast" class="addRecLabel">Breakfast</label>
                    <input type="radio" id="recDishInp" name="recDishInp" value="Lunch" onchange="this.form.submit()">
                        <label for="mtLunch" class="addRecLabel">Lunch</label>
                    <input type="radio" id="recDishInp" name="recDishInp" value="Meryenda" onchange="this.form.submit()">
                        <label for="mtMeryenda" class="addRecLabel">Meryenda</label>
                    <input type="radio" id="recDishInp" name="recDishInp" value="Dinner" onchange="this.form.submit()">
                        <label for="mtDinner" class="addRecLabel">Dinner</label>
                        <br><br>
                <label for="recCategory" class="addRecLabel">Category: </label>
                    <input type="radio" id="recCateg" name="recCateg" value="Luzon" onchange="this.form.submit()">
                        <label for="recCLuzon" class="addRecLabel">Luzon</label>
                    <input type="radio" id="recCateg" name="recCateg" value="Visayan" onchange="this.form.submit()">
                        <label for="recCVisayas" class="addRecLabel">Visayan</label>
                    <input type="radio" id="recCateg" name="recCateg" value="Mindanaoan" onchange="this.form.submit()">
                        <label for="recCMindanao" class="addRecLabel">Mindanaoan</label>
                    <input type="radio" id="recCateg" name="recCateg" value="Popular" onchange="this.form.submit()">
                        <label for="recCPopular" class="addRecLabel">Popular</label>
                        <br><br>
                <label for="recTime" class="addRecLabel">Cooking Time: </label>
                    <input type="radio" id="recTimeInp" name="recTimeInp" value="30" onchange="this.form.submit()">
                        <label for="t30" class="addRecLabel">30 minutes</label>
                    <input type="radio" id="recTimeInp" name="recTimeInp" value="31" onchange="this.form.submit()">
                        <label for="t1hr" class="addRecLabel">Between 30 minutes and 1 hour</label>
                    <input type="radio" id="recTimeInp" name="recTimeInp" value="1 hr and 30 minutes" onchange="this.form.submit()">
                        <label for="t130" class="addRecLabel">Between 1 hour and 1 hr 30 minutes</label>
                    <input type="radio" id="recTimeInp" name="recTimeInp" value="1 hr and 31 minutes" onchange="this.form.submit()">
                        <label for="t131" class="addRecLabel">More than 1 hour and 30 minutes </label>
                        <br><br>
                <label for="recTime" class="addRecLabel">Preferred Calorie: </label>
                    <input type="radio" id="recCal" name="recCal" value="400" onchange="this.form.submit()">
                        <label for="C400" class="addRecLabel">Below 400 calories</label>
                    <input type="radio" id="recCal" name="recCal" value="800" onchange="this.form.submit()">
                        <label for="C401" class="addRecLabel">401 - 800 calories</label>
                    <input type="radio" id="recCal" name="recCal" value="801" onchange="this.form.submit()">
                        <label for="C801" class="addRecLabel">801- 1200</label>
                    <input type="radio" id="recCal" name="recCal" value="1201" onchange="this.form.submit()">
                        <label for="C1201" class="addRecLabel">More than 1200 calories </label>
                        <br><br>
                   </form> 
            </div>
        </section>

        <!-- search grid -->
        <div class="box-container">
            <% if (recs.length > 0) { %>
                <% recs.forEach(rec => { %>
                    <form action="" method="post" class="box-card">
                        <div class="box-header">
                            <!-- <a href="/recipes/<%= rec.rec_id%>" class="rec-eye"></a> -->
                            <img src="/images/<%= rec.rec_image%>"  class="box-img" alt="<%= rec.rec_name %> Image">
                        </div>
                        <div class="box-details">
                            <!-- category -->
                            <span class="box-categ"><%= rec.rec_categ %></span>
                            <!-- recipe name -->
                            <h1 class="box-name"><%= rec.rec_name %></h1>
                            <!-- rating -->
                            <% if (rec.rec_rate) { %>
                                <div class="box-rate">
                                    <%= rec.rec_rate %>
                                    <span class="str"></span>
                                </div>
                            <% } else { %>
                                <span class="box-not">This recipe hasn't been rated.</span>
                            <% } %>
                            <!-- add saved recipe button -->
                        </div>
                    </form>
                <% }) %>
            <% } else { %>
                <p class="empty">No recipes found.</p>
                <% } %>
        </div>
    
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    
<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>