<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <!-- guest dashboard section starts  -->
    <%#- include('./partials/logoOnlyNav'); %>
    <%- include('./partials/userNav'); %>

    <div class="recipeResults">
        <a href="/" class="back-btn"><span class="rec-back">Home</span></a>

        <!-- title -->
        <span class="titleheading">Search Results</span>
        
        <!-- search filter -->
        <div class="getFilter">
            <!-- <span class="filter-title">Filter: </span> -->
            <form action="/search/filter" method="post" class="filter-cont">

                <!-- dish type -->
                <div class="select-box">
                    <div class="select-box__current" tabindex="1">
                      <div class="select-box__value">
                        <label class="select-box__input-text">Dish Type</label>
                      </div>
                      <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                    </div>
                    <ul class="select-box__list">
                      <li>
                        <label class="select-box__option" aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio" name="recDishInp" id="recDishInp" value="Breakfast">
                            Breakfast
                        </label>
                      </li>
                      <li>
                        <label class="select-box__option" aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio" name="recDishInp" id="recDishInp" value="Lunch">
                            Lunch
                        </label>
                      </li>
                      <li>
                        <label class="select-box__option"  aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio" name="recDishInp" id="recDishInp" value="Meryenda">
                            Meryenda
                        </label>
                      </li>
                      <li>
                        <label class="select-box__option" aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio" name="recDishInp" id="recDishInp" value="Dinner">
                            Dinner
                        </label>
                      </li>
                    </ul>
                </div>
               
                <!-- category -->
                <div class="select-box">
                    <div class="select-box__current" tabindex="1">
                      <div class="select-box__value">
                        <label class="select-box__input-text">Category</label>
                      </div>
                      <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                    </div>
                    <ul class="select-box__list">
                      <li>
                        <label class="select-box__option" aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio" name="recCateg" id="recCateg" value="Luzon">
                            Luzon
                        </label>
                      </li>
                      <li>
                        <label class="select-box__option" aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio" name="recCateg" id="recCateg" value="Visayan">
                            Visayas
                        </label>
                      </li>
                      <li>
                        <label class="select-box__option"  aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio" name="recCateg" id="recCateg" value="Mindanaoan">
                            Mindanao
                        </label>
                      </li>
                      <li>
                        <label class="select-box__option" aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio" name="recCateg" id="recCateg" value="Popular">
                            Popular
                        </label>
                      </li>
                    </ul>
                </div>


                <!-- cooking time -->
                <div class="select-box">
                    <div class="select-box__current" tabindex="1">
                      <div class="select-box__value">
                        <label class="select-box__input-text">Cooking Time</label>
                      </div>
                      <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                    </div>
                    <ul class="select-box__list">
                      <li>
                        <label class="select-box__option" aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio"  name="recTimeInp" id="recTimeInp" value="30">
                            Less than 30 minutes
                        </label>
                      </li>
                      <li>
                        <label class="select-box__option" aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio" name="recTimeInp" id="recTimeInp" value="31">
                            Between 30 minutes to 1 hour
                        </label>
                      </li>
                      <li>
                        <label class="select-box__option"  aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio"  name="recTimeInp" id="recTimeInp" value="1 hr and 30 minutes">
                            Between 1 hour to 1 hour and 30 minutes
                        </label>
                      </li>
                      <li>
                        <label class="select-box__option" aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio"  name="recTimeInp" id="recTimeInp" value="1 hr and 31 minutes">
                            More than 2 hours
                        </label>
                      </li>
                    </ul>
                </div>


                <!-- preferred calorie -->
                <div class="select-box">
                    <div class="select-box__current" tabindex="1">
                      <div class="select-box__value">
                        <label class="select-box__input-text">Calorie</label>
                      </div>
                      <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                    </div>
                    <ul class="select-box__list">
                      <li>
                        <label class="select-box__option" aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio"  name="recCal" id="recCal" value="400">
                            Less than 400kCal
                        </label>
                      </li>
                      <li>
                        <label class="select-box__option" aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio"  name="recCal" id="recCal" value="800">
                            Between 401 kCal to 800 kCal
                        </label>
                      </li>
                      <li>
                        <label class="select-box__option"  aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio"  name="recCal" id="recCal" value="801">
                            Between 801 kCal to 1200 kCal
                        </label>
                      </li>
                      <li>
                        <label class="select-box__option" aria-hidden="aria-hidden">
                            <input class="select-box__input" type="radio" name="recCal" id="recCal" value="1201">
                            More than 1200 kCal
                        </label>
                      </li>
                    </ul>
                </div>
                <button type="submit" class="usr-saved">Filter</button>



                    <!-- <select name="recDishInp" id="recDishInp" class="categ-opt" onchange="this.form.submit()">
                        <option value="" disabled selected>Dish Type</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Meryenda">Meryenda</option>
                        <option value="Dinner">Dinner</option>
                    </select>

                   
                    <select name="recCateg" id="recCateg" class="categ-opt" onchange="this.form.submit()">
                        <option value="" disabled selected>Category</option>
                        <option value="Luzon">Luzon</option>
                        <option value="Visayas">Visayas</option>
                        <option value="Mindanao">Mindanao</option>
                        <option value="Popular">Popular</option>
                    </select>

                    
                    <select name="recTimeInp" id="recTimeInp" class="categ-opt" onchange="this.form.submit()">
                        <option value="" disabled selected>Cooking Time</option>
                        <option value="30">Less than 30 minutes</option>
                        <option value="31">Between 30 minutes to 1 hour</option>
                        <option value="1 hr and 30 minutes">Between 1 hour to 1 hour and 30 minutes</option>
                        <option value="1 hr and 31 minutes">More than 2 hours</option>
                    </select>

                    
                    <select name="recCal" id="recCal" class="categ-opt" onchange="this.form.submit()">
                        <option value="" disabled selected>Calorie</option>
                        <option value="400">Less than 400 calories</option>
                        <option value="800">Between 401 calories to 800 calories</option>
                        <option value="801">Between 801 calories to 1200 calories</option>
                        <option value="1201">More than 1200 calories</option>
                    </select> -->
            </form> 
        </div>

        <!-- search grid -->
        <div class="usr-container">
        
            <% if (recs.length > 0) { %>
                <% recs.forEach(rec => { %>
                    <div class="result-card">
                        <form action="" method="post" class="box-card">
                            <!-- img -->
                            <div class="box-header">
                                <a href="/recipes/<%= rec.rec_id%>">
                                <img src="/images/<%= rec.rec_image%>"  class="box-img" alt="<%= rec.rec_name %> Image">
                                </a>
                            </div>
                            <!-- details -->
                            <div class="box-details">
                                <a href="/recipes/<%= rec.rec_id%>" class="rec-usr">
                                    <div class="box-one">
                                        <div class="name-cont">
                                            <!-- category -->
                                            <span class="box-categ"><%= rec.rec_categ %></span>
                                            <!-- recipe name -->
                                            <h2 class="box-name"><%= rec.rec_name %></h2>
                                            <!-- rating -->
                                            <% if (rec.rec_rate) { %>
                                                <div class="box-rate">
                                                    <%= rec.rec_rate %>
                                                    <span class="str"></span>
                                                </div>
                                            <% } else { %>
                                                <span class="box-not">This recipe hasn't been rated.</span>
                                            <% } %>
                                        </div>
                                
                                        <!-- add saved recipe button -->
                                        <div class="usr-saved-btn">
                                            <% if (isSaved) { %>
                                                <form action="/search/unsave/<%= rec.rec_id%>" method="post">
                                                    <br><br><button type="submit" value ="Unsave Recipe"></button>
                                                </form>
                                            <% } else { %>
                                                <form action="/search/<%= rec.rec_id%>" method="post">
                                                    <input type="hidden" name="recID" id="recID" value="<%= rec.rec_id %>">
                                                    <input type="hidden" name="recName" id="recName" value="<%= rec.rec_name %>">
                                                    <input type="hidden" name="recDesc" id="recDesc" value="<%= rec.rec_desc %>">
                                                    <input type="hidden" name="recProcess" id="recProcess" value="<%= rec.rec_process %>">
                                                    <input type="hidden" name="recCateg" id="recCateg" value="<%= rec.rec_categ %>">
                                                    <input type="hidden" name="recTime" id="recTime" value="<%= rec.rec_time %>">
                                                    <input type="hidden" name="recServing" id="recServing" value="<%= rec.rec_serving %>">
                                                    <input type="hidden" name="recSrc" id="recSrc" value="<%= rec.rec_src %>">
                                                    <input type="hidden" name="recVid" id="recVid" value="<%= rec.rec_vid %>">
                                                    <input type="hidden" name="recCal" id="recCal" value="<%= rec.rec_cal %>">
                                                    <input type="hidden" name="recMealtime" id="recMealtime" value="<%= rec.rec_mealTime %>">
                                                    <input type="hidden" name="recImg" id="recImg" value="<%= rec.rec_image %>">
                                                    <input type="hidden" name="recRate" id="recRate" value="<%= rec.rec_rate %>">
                                                    <button type="submit" class="usr-saved"></button>
                                                </form>
                                            <% } %> 
                                        </div>
                                    </div>
                                </a>

                                <!-- view recipe button -->
                                <div class="usr-view">
                                    <a href="/recipes/<%= rec.rec_id%>" class="usr-view-btn">
                                        <span></span>View Recipe</a>
                                </div>
                            </div>
                        </form>
                    </div>
                <% }) %>
            <% } else { %>
                <p class="empty">No recipes found.</p>
                <% } %>
        </div>
    </div>

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    
<!-- custom js file link  -->
<script src="public/js/script.js"></script>

</body>
</html>