<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo/logo-recipinoy.png" type="image/icon type">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
 
    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/style.css">

    <title>Recipes</title>
</head>
<body>
   <!-- guest header -->
   <%- include('./partials/userNav'); %>
   <%#- include('./partials/guestNav'); %>

    <div class ="recipeResults">
        <a href="/" class="back-btn"><span class="rec-back">Home</span></a>

        <!-- title -->
        <span class="titleheading">All Items</span>
    
    <!-- search filter -->
    <div class="getFilter">

    <form action="/recipes" method="post">
        <div id="sortResults" class="filter-cont1">
                <!-- Alphabetically -->
                <div class="select-box1">
                    <div class="select-box__current" tabindex="1">
                        <div class="select-box__value">
                            <label class="select-box__input-text">Sort Alphabetically</label>
                            <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                        </div>
                    </div>
                    <ul class="select-box__list">
                        <li>
                            <label class="select-box__option" aria-hidden="aria-hidden">
                                <input class="select-box__input" type="radio" name="alphabet" id="alphabet" value="a-z" onchange="this.form.submit()">
                                <span class="sel-opt">A to Z</span>
                            </label>
                        </li>
                        <li>
                            <label class="select-box__option" aria-hidden="aria-hidden">
                                <input class="select-box__input" type="radio" name="alphabet" id="alphabet" value="z-a" onchange="this.form.submit()">
                                <span class="sel-opt">Z to A</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="select-box1">
                    <div class="select-box__current" tabindex="1">
                        <div class="select-box__value">
                            <label class="select-box__input-text">Sort by Ratings</label>
                            <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                        </div>
                    </div>
                    <ul class="select-box__list">
                        <li>
                            <label class="select-box__option" aria-hidden="aria-hidden">
                                <input class="select-box__input" type="radio" name="rating" id="rating" value="h-l" onchange="this.form.submit()">
                                <span class="sel-opt">Highest to Lowest</span>
                            </label>
                        </li>
                        <li>
                            <label class="select-box__option" aria-hidden="aria-hidden">
                                <input class="select-box__input" type="radio" name="rating" id="rating" value="l-h" onchange="this.form.submit()">
                                <span class="sel-opt">Lowest to Highest</span>
                            </label>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
        <div class="usr-container">

            <% recs.forEach(rec => { %>
                <div class="result-card">
                    <div class="box-card">
                    <!-- img -->
                    <div class="box-header">
                        <a href="/recipes/<%= rec.rec_id%>">
                        <img src="/images/<%= rec.rec_image%>" alt="<%= rec.rec_name %> Image" class="box-img">
                        </a>
                    </div>
                    <!-- details -->
                    <div class="box-details">
                        <a href="/recipes/<%= rec.rec_id%>" class="rec-usr">
                            <div class="box-one">
                                <div class="name-cont">
                                    <!-- category -->
                                    <span class="box-categ"><%= rec.rec_categ %></span>
                                    <!-- recipe name -->
                                    <p class="box-name"><%= rec.rec_name %></p>
                                    <!-- rating -->
                                    <% if (rec.rec_rate) { %>
                                        <div class="box-rate">
                                            <%= rec.rec_rate %>
                                            <span class="str"></span>
                                        </div>
                                    <% } else { %>
                                        <span class="box-not">This recipe hasn't been rated.</span>
                                    <% } %>
                                </div>
                            </div>
                        </a>                       
                    </div>

                </div>
                </div>
                <% }) %>
        </div>

     </form>

    </div>  
    
    <div class="loader">
        <img src="/images/loader.gif" alt="">
    </div>
 
     
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/public/js/script.js"></script>
</body>
</html>