<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/style.css">

    <!-- bootstrap for modal -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <% let i = 0; %> 
    <% let ingArr = []; %> 
    <% let srv = 0; %>
    <% recs.forEach(rec => { %>
    <title><%= rec.rec_name %></title>


</head>
<body>
     <!-- message -->
     <% if (msg != '') { %>
        <div class="message">
            <span> <%= msg %> </span>
            <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
        </div>
    <% } %>   

    <!-- header -->
    <%- include('./partials/userNav'); %>
    
    <a class="back-btn" onclick="history.back()">>> Back</a>

    <section>
    
    <div class="userRecipeView">
        <div class="rec-view">
        <% if (rec.rec_image) { %>
            <img src="/images/<%= rec.rec_image%>" alt="<%= rec.rec_name %> Image" class="img-rec">
        <% } %><br><br>
        </div>

    <div class="rec-content">
        <h3 class="rec-name"><%= rec.rec_name %></h3>
        <h5 class="rec-desc"><%= rec.rec_desc %></h5>
        
        <div class="rec-col">
            <ul class="rec-col-list">
                <li>
                    <h3>CATEGORY</h3>
                    <span><%= rec.rec_categ %></span>
                </li>
                <li>
                <% if (rec.rec_time) { %>
                    <h3>TOTAL TIME</h3>
                    <span><%= rec.rec_time %></span>
                <% } %>
                </li>
                <li>
                <% if (rec.rec_serving) { %>
                    <% if (rec.rec_serving == 1) { %>
                        <h3>SERVING </h3>
                        <span>
                            <% srv = rec.rec_serving; %> 
                            <button type="button" id="minusButton">-</button>
                            <input type="number" name="servingInp" id="servingInp" value="<%= rec.rec_serving %>" min="1" readonly>
                            <button type="button" id="plusButton">+</button>
                        </span>
                    <% } else { %>
                        <h3>SERVING </h3>
                        <% srv = rec.rec_serving; %> 
                        <button type="button" id="minusButton">-</button>
                        <input type="number" name="servingInp" id="servingInp" value="1" min="1" readonly>
                        <button type="button" id="plusButton">+</button>
                    <% } %>
                <% } %>
                </li>
                <li>
                <h3>CALORIES</h3>
                <% if (rec.rec_cal) { %>
                    <span><%= rec.rec_cal %></span>
                <% } else { %>
                    <span>Calorific value is not available.</span>
                    <% } %>  
                </li>
                <li>
                <h3>RATING</h3>
                <% if (rec.rec_rate) { %>
                    <span><%= rec.rec_rate %></span>  <!-- hindi ko sya magawang star HAJDKAJKDAJKKJDKJ [eka] -->
                <% } else { %>
                    <span>This recipe hasn't been rated.</span>
                <% } %>
                </li>
                <li>
                    <button type="button" id="openModal">add to grocery list</button>
                    <!-- The Modal -->
                    <div id="glModal" class="modal">
                        <!-- Modal content --> 
                        <div class="modal-content">
                        <span class="close">&times;</span>
                        <!-- <p>Some text in the Modal..</p> -->
                        <form action="/grocery-list" method="post" onsubmit="addGrocery()">
                            <input type="hidden" name="recId" value="<%= rec.rec_id %>">
                            <input type="hidden" name="gList" id="gList" value="">
                            <div id="ingList"></div>
                            <br><br><button type="submit">add ingredients to grocery list</button>
                        </form>
                        </div>
                    
                    </div>
                </li>
        </ul>
        </div>

        <div class="rec-ing">
        <label class="ing-title">Ingredients </label>
        <ul>
            <div id="ings">
                <input id="ingCount" value="<%= recIngs.length%>" type="hidden">
            <% for( let index = 0; index < recIngs.length; index++ ) { %>
                <input type="hidden" name="uiInp[]" value="<%=recIngs[index]%>">
                <% if (srv == 1) { %>
                    <% if (quantArr[index] != 0) { %>
                        <input type="hidden" name="q[]" value="<%=quantArr[index]%>">
                        <li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span>
                        <span><%=recIngs[index]%><%=ins[index] %></span></li>
                    <% } else { %>
                        <input type="hidden" name="q[]" value="<%=quantArr[index]%>">
                        <li><span id="quantSpan<%= index + 1%>"></span>
                            <span><%=recIngs[index]%><%=ins[index] %></span></li>
                    <% } %>
                    
                <% } else { %>
                    <% let newQuant = quantArr[index];%>
                    <% newQuant = newQuant / srv; %>
                    <% newQuant = newQuant.toFixed(2); %>  

                    <% if (quantArr[index] != 0) { %>
                        <input type="hidden" name="q[]" value="<%=quantArr[index]%>">
                        <li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span>
                        <span><%=recIngs[index]%><%=ins[index] %></span></li>
                    <% } else { %>
                        <input type="hidden" name="q[]" value="<%=quantArr[index]%>">
                        <li><span id="quantSpan<%= index + 1%>"></span>
                            <span><%=recIngs[index]%><%=ins[index] %></span></li>
                    <% } %>
                <% } %>
                
            <% } %>
            </div>
        </ul>
        </div>

        <div class="rec-process">
        <label class="rproc">Process </label>
            <textarea name="" id="" cols="30" rows="10" readonly><%= rec.rec_process %></textarea><br>
        </div>


        <!-- <div class="rec-src"><a href="<%= rec.rec_src %>"><strong>Source</strong></a></div> -->

        <div class="rec-vid">
            <% if (rec.rec_vid) { %>
            <label class="rvid">Video </label>
            <iframe src="<%= rec.rec_vid %>"></iframe>
        <% } %> 
        </div>
    </div>
</div>
</section>

        <form action="/recipes/<%= rec.rec_id%>" method="post">
            <br><h3>Rate the recipe!</h3><br>
        <div class="stars" data-rating="0">
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
        </div>
        <input type="hidden" name="recRating" id="recRating" value="<%= rec.rec_rate %>">
        <br><br><button type="submit">Submit Rating!</button>
        </form>
    <% }) %>

    <script type="text/javascript">
        let qArr = [];
        let ingsArr = [];

        document.addEventListener('DOMContentLoaded', function(){
            let stars = document.querySelectorAll('.star');
            stars.forEach(function(star){
                star.addEventListener('click', setRating); 
            });
            
            let rating = parseInt(document.querySelector('.stars').getAttribute('data-rating'));
            let target = stars[rating - 1];
            target.dispatchEvent(new MouseEvent('click'));
        });

        jQuery('input[name="q[]"]').each(function() {
                let q = this.value;
                if(q){
                    qArr.push(q);
                }
        });

        const minusButton = document.getElementById('minusButton');
        const plusButton = document.getElementById('plusButton');
        const srvField = document.getElementById('servingInp').value;
        minusButton.disabled = true;

        function btnCntrl(val) {
            if (val != 1) {
                minusButton.disabled = false;
            }
            else{
                minusButton.disabled = true;
            }
        }

        minusButton.addEventListener('click', event => {
            qArr = [];
            event.preventDefault();
            let currentValue = parseInt($('#servingInp').val());
            currentValue = currentValue - 1;
            $('#servingInp').val(currentValue);
            btnCntrl(currentValue);
            let newIngNum = parseInt($('#ingCount').val());
            
            let htmlStr = '<input id="ingCount" value="<%= recIngs.length%>" type="hidden"><% for( let index = 0; index < recIngs.length; index++ ) { %><input type="hidden" name="uiInp[]" value="<%=recIngs[index]%>"><% if (srv == 1) { %><% if (quantArr[index] != 0) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } else { %><li><span id="quantSpan<%= index + 1%>"></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } %><% } else { %><% let newQuant = quantArr[index];%><% newQuant = newQuant / srv; %><% newQuant = newQuant.toFixed(2); %>  <% if (quantArr[index] != 0) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } else { %><li><span id="quantSpan<%= index + 1%>"></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } %><% } %><% } %>';

            $("#ings").html(htmlStr);
            for (let index = 1; index <= newIngNum; index++) {
                let i = "quantSpan" + index.toString();
                let span = document.getElementById(i);
                let spanVal = span.textContent;
                if(spanVal){
                    if(Number(spanVal) % 1 === 0){
                        let newVal = parseInt(spanVal) * currentValue;
                        span.textContent = newVal.toString();
                        qArr.push(newVal.toString());
                    }
                    else{
                        let newVal = parseFloat(spanVal) * currentValue;
                        if(newVal % 1 === 0){
                            newVal = parseInt(newVal);
                        }
                        else{
                            newVal = newVal.toFixed(2);
                        }
                        span.textContent = newVal.toString();
                        qArr.push(newVal.toString());
                    } 
                }
            }
        });

        plusButton.addEventListener('click', event => {
            qArr = [];
            event.preventDefault();
            let currentValue = parseInt($('#servingInp').val());
            currentValue = currentValue + 1;
            $('#servingInp').val(currentValue);
            btnCntrl(currentValue);
            let newIngNum = parseInt($('#ingCount').val());

            let htmlStr = '<input id="ingCount" value="<%= recIngs.length%>" type="hidden"><% for( let index = 0; index < recIngs.length; index++ ) { %><input type="hidden" name="uiInp[]" value="<%=recIngs[index]%>"><% if (srv == 1) { %><% if (quantArr[index] != 0) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } else { %><li><span id="quantSpan<%= index + 1%>"></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } %><% } else { %><% let newQuant = quantArr[index];%><% newQuant = newQuant / srv; %><% newQuant = newQuant.toFixed(2); %>  <% if (quantArr[index] != 0) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } else { %><li><span id="quantSpan<%= index + 1%>"></span><span><%=recIngs[index]%><%=ins[index] %></span></li><% } %><% } %><% } %>'

            $("#ings").html(htmlStr);
            for (let index = 1; index <= newIngNum; index++) {
                let i = "quantSpan" + index.toString();
                let span = document.getElementById(i);
                let spanVal = span.textContent;
                
                if(spanVal){
                    if(Number(spanVal) % 1 === 0){
                        let newVal = parseInt(spanVal) * currentValue;
                        span.textContent = newVal.toString();
                        qArr.push(newVal.toString());
                    }
                    else{
                        let newVal = parseFloat(spanVal) * currentValue;
                        if(newVal % 1 === 0){
                            newVal = parseInt(newVal);
                        }
                        else{
                            newVal = newVal.toFixed(2);
                        }
                        span.textContent = newVal.toString();
                        qArr.push(newVal.toString());
                    } 
                }
            }
        });

        function setRating(ev){
            let span = ev.currentTarget;
            let stars = document.querySelectorAll('.star');
            let match = false;
            let num = 0;
            stars.forEach(function(star, index){
                if(match){
                    star.classList.remove('rated');
                }else{
                    star.classList.add('rated');
                }
                //are we currently looking at the span that was clicked
                if(star === span){
                    match = true;
                    num = index + 1;
                }
            });
            let currentRating = document.getElementById('recRating').value;
            if ((parseInt(currentRating)) != 0) {
                let newRating = (num + parseInt(currentRating))/2;
                document.getElementById('recRating').value = Math.round(newRating);
                document.querySelector('.stars').setAttribute('data-rating', num);
            }
            else{
                let newRating = (num + parseInt(currentRating));
                document.getElementById('recRating').value = Math.round(newRating);
                document.querySelector('.stars').setAttribute('data-rating', num);
            }
            
        }
        
        function getIngs() {
            let count = 0;
            if(ingsArr.length === 0){
                jQuery('input[name="uiInp[]"]').each(function() {
                let ingstr = this.value;
                if(ingstr){
                    let q = qArr[count];
                    if(q){
                        if(q == 0){
                            let finalStr = ingstr;
                            ingsArr.push(finalStr.trim());
                        }
                        else{
                            let finalStr = q + ingstr;
                            ingsArr.push(finalStr); 
                        }
                    }
                    else{
                        let finalStr = ingstr;
                        ingsArr.push(finalStr.trim());
                    }
                }
                count++;
                });
            }
            

            //$('#gList').val(JSON.stringify(ingsArr));
        }

        function addGrocery() {
            let gListArr = [];
            let cont = document.querySelector('#ingList');
            let ingChecked = cont.querySelectorAll('input[name="ingsCb[]"]');
            ingChecked.forEach(ic => {
                if(ic.checked){
                    gListArr.push(ic.value);
                }
            });

            $('#gList').val(JSON.stringify(gListArr));
        }
    
        let modal = document.getElementById("glModal");
        let btn = document.getElementById("openModal");
        let span = document.getElementsByClassName("close")[0];

        //open the modal
        btn.onclick = function() {
            getIngs();
            ingsArr.forEach(ia => {
                let input = '<input type="checkbox" name="ingsCb[]" value="'+ ia +'">&nbsp;&nbsp;&nbsp;<label for="ingCheckbox">'+ ia +'</label><br>';
                $("#ingList").append(input);
            });
            modal.style.display = "block";
        }

        //close the modal
        span.onclick = function() {
            $("#ingList").empty();
            modal.style.display = "none";
        }

        //close it
        window.onclick = function(event) {
        if (event.target == modal) {
            $("#ingList").empty();
            modal.style.display = "none";
        }
        }
    </script>

    <!-- custom js file link  -->
    <script src="/public/js/script.js"></script>
</body>
</html>