<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <% let i = 0; %> 
    <% let ingArr = []; %> 
    <% recs.forEach(rec => { %>
    <title><%= rec.rec_name %></title>

        <!-- font awesome cdn link  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

        <!-- custom css file link  -->
        <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
     <!-- message -->
     <% if (msg != '') { %>
        <div class="message">
            <span> <%= msg %> </span>
            <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
        </div>
    <% } %>   

    <!-- header -->
    <%- include('./partials/logoOnlyNav'); %>
    
    <a href="/" class="back-btn">>> Back</a>

    <section>
    
    <div class="userRecipeView">
        <div class="rec-view">
        <% if (rec.rec_image) { %>
            <img src="/images/<%= rec.rec_image%>" alt="<%= rec.rec_name %> Image" class="img-rec">
        <% } %><br><br>
        </div>

    <div class="rec-content">
        <h3 class="rec-name"><%= rec.rec_name %></h3>
        <h5 class="rec-desc"><%= rec.rec_desc %></h5>
        
        <div class="rec-col">
            <ul class="rec-col-list">
                <li>
                    <h3>CATEGORY</h3>
                    <span><%= rec.rec_categ %></span>
                </li>
                <li>
                    <h3>TOTAL TIME</h3>
                <% if (rec.rec_time) { %>
                    <span><%= rec.rec_time %></span>
                <% } %>
                </li>
                <li>
                <% if (rec.rec_serving) { %>
                    <h3>SERVING </h3>
                    <% if (rec.rec_serving == 1) { %>
                        <span>
                            <button type="button" id="minusButton">-</button>
                            <input type="number" name="servingInp" id="servingInp" value="<%= rec.rec_serving %>" min="1" readonly>
                            <button type="button" id="plusButton">+</button>
                        </span>
                    <% } else { %>
                        <span><%= rec.rec_serving %></span>
                    <% } %>
                <% } %>
                </li>
                <li>
                <h3>CALORIES</h3>
                <% if (rec.rec_cal) { %>
                    <span><%= rec.rec_cal %></span>
                <% } %>
                </li>
                <li>
                <h3>RATING</h3>
                <% if (rec.rec_rate) { %>
                    <!-- hindi ko sya magawang star HAJDKAJKDAJKKJDKJ -->
                    <span><%= rec.rec_rate %></span> 
                <% } %>
                </li>
        </ul>
        </div>

        <div class="rec-ing">
        <label class="ing-title">Ingredients </label>
        <ul>
            <div id="ings">
                <input id="ingCount" value="<%= recIngs.length%>" type="hidden">
            <% for( let index = 0; index < recIngs.length; index++ ) { %>
                <li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span>
                <span><%=recIngs[index]%></span></li>
            <% } %>
            </div>
        </ul>
        </div>

        <div class="rec-process">
        <label class="rproc">Process </label>
            <textarea name="" id="" cols="30" rows="10" readonly><%= rec.rec_process %></textarea><br>
        </div>


        <!-- <div class="rec-src"><a href="<%= rec.rec_src %>"><strong>Source</strong></a></div> -->

        <div class="rec-vid">
            <% if (rec.rec_vid) { %>
            <label class="rvid">Video </label>
            <iframe src="<%= rec.rec_vid %>"></iframe>
        <% } %> 
        </div>
    </div>
</div>
</section>

        <form action="/recipes/<%= rec.rec_id%>" method="post">
            <br><h3>Rate the recipe!</h3><br>
        <div class="stars" data-rating="0">
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
        </div>
        <input type="hidden" name="recRating" id="recRating" value="<%= rec.rec_rate %>">
        <br><br><button type="submit">Submit Rating!</button>
        </form>
    <% }) %>

    
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function(){
            let stars = document.querySelectorAll('.star');
            stars.forEach(function(star){
                star.addEventListener('click', setRating); 
            });
            
            let rating = parseInt(document.querySelector('.stars').getAttribute('data-rating'));
            let target = stars[rating - 1];
            target.dispatchEvent(new MouseEvent('click'));
        });

        const minusButton = document.getElementById('minusButton');
        const plusButton = document.getElementById('plusButton');
        const inputField = document.getElementById('servingInp');

        minusButton.addEventListener('click', event => {
            event.preventDefault();
            let currentValue = parseInt($('#servingInp').val());
            currentValue = currentValue - 1;
            $('#servingInp').val(currentValue);
            let newIngNum = parseInt($('#ingCount').val());
            let htmlStr = '<input id="ingCount" value="<%= recIngs.length%>" type="hidden"><% for( let index = 0; index < recIngs.length; index++ ) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%></span></li><% } %>';
            $("#ings").html(htmlStr);
            for (let index = 1; index <= newIngNum; index++) {
                let i = "quantSpan" + index.toString();
                let span = document.getElementById(i);
                let spanVal = span.textContent;
                if(spanVal){
                    if(Number(spanVal) % 1 === 0){
                        let newVal = parseInt(spanVal) * currentValue;
                        span.textContent = newVal.toString();
                    }
                    else{
                        let newVal = parseFloat(spanVal) * currentValue;
                        newVal = newVal.toFixed(2);
                        span.textContent = newVal.toString();
                    } 
                }
            }
        });

        plusButton.addEventListener('click', event => {
            event.preventDefault();
            let currentValue = parseInt($('#servingInp').val());
            currentValue = currentValue + 1;
            $('#servingInp').val(currentValue);
            let newIngNum = parseInt($('#ingCount').val());
            let htmlStr = '<input id="ingCount" value="<%= recIngs.length%>" type="hidden"><% for( let index = 0; index < recIngs.length; index++ ) { %><li><span id="quantSpan<%= index + 1%>"><%= quantArr[index]%></span><span><%=recIngs[index]%></span></li><% } %>';
            $("#ings").html(htmlStr);
            for (let index = 1; index <= newIngNum; index++) {
                let i = "quantSpan" + index.toString();
                let span = document.getElementById(i);
                let spanVal = span.textContent;
                
                if(spanVal){
                    if(Number(spanVal) % 1 === 0){
                        let newVal = parseInt(spanVal) * currentValue;
                        span.textContent = newVal.toString();
                    }
                    else{
                        let newVal = parseFloat(spanVal) * currentValue;
                        newVal = newVal.toFixed(2);
                        span.textContent = newVal.toString();
                    } 
                }
            }
        });

        function setRating(ev){
            let span = ev.currentTarget;
            let stars = document.querySelectorAll('.star');
            let match = false;
            let num = 0;
            stars.forEach(function(star, index){
                if(match){
                    star.classList.remove('rated');
                }else{
                    star.classList.add('rated');
                }
                //are we currently looking at the span that was clicked
                if(star === span){
                    match = true;
                    num = index + 1;
                }
            });
            //console.log('js ' + num);
            let currentRating = document.getElementById('recRating').value;
            let newRating = (num + parseInt(currentRating))/2;
            document.getElementById('recRating').value = Math.round(newRating);
            document.querySelector('.stars').setAttribute('data-rating', num);
        }
    </script>
</body>
</html>